- extends "base.haml"
- block title
  = block.super 
  Blueprint Search
- block content
  %h1
    Search
    
  %ul.breadcrumb
    %li
      Manufacturing
    %li
      %span.divider >
      %a{'href':'{% url manufacturing_select_blueprint %}'}
        Blueprint Search
  
  %table.table.table-striped.table-condensed
    %tbody
      - for blueprint in blueprints
        %tr
          %td{'width':'32px'}
            %a{'href':'{% url manufacturing_calculator blueprint.blueprint_type.id %}'}
              %img{'src':format('{{ IMAGE_SERVER }}/Type/{{ blueprint.blueprint_type.id }}_32.png'), 'alt':'type image'}
          %td
            %a{'href': '{% url manufacturing_calculator blueprint.blueprint_type.id %}'}
              = blueprint.blueprint_type.name