- extends "base.haml"
- load custom_filters
- block title
  = block.super
  Blueprint Search
- block content

    %h2#bpsearch Blueprint Search
    
    %form#select_blueprint_form.form-horizontal{'action': '{% url manufacturing_select_blueprint %}', 'method':'post'}
      - csrf_token
      
      %div{'class':'control-group{{ form.blueprint|css_error }}'}
        %label.control-label{'for':'id_blueprint'} Blueprint name
        %div.controls
          = form.blueprint
          - if form.blueprint.errors
            %span.help-inline
              - for error in form.blueprint.errors
                = error|escape
      %div.control-group
        %div.controls
          %button.btn.btn-success{'type':'submit'}
            Search

- block scripts
  %script{'type':'text/javascript', 'src':'{{ STATIC_URL }}javascripts/manufacturing.js'}
  %script{'type':'text/javascript'}
    document.getElementById('bpsearch').childNodes[0].nodeValue = "Word bro"