- extends "base.haml"
- block title
  = block.super
  Browse Market
- block content
  %h1
    = parent.name
  .row-fluid
    #tree.span3
    #group.span9
      %h1
        Browse Market
      %i Select a group on the left side to display market details.
- block scripts
  %script{'type':'text/javascript', 'src':'{{ STATIC_URL }}javascripts/jquery.dynatree.min.js'}
  %script{'type':'text/javascript', 'src':'{{ STATIC_URL }}javascripts/jquery.cookie.js'}
  %script{'type':'text/javascript', 'src':'{{ STATIC_URL }}javascripts/browser.js'}
  - if path
    %script{'type':'text/javascript'}
      var load_path = '{{path}}';
