<!DOCTYPE html>
%html
  %body
    %p
      Hello {{username}},
      %br
      welcome to Element43!
      %br
      To activate your account , please visit this site:
      %a{'href':'http://element-43.com/secure/register/activate/{{activation_key}}/'}
        http://element-43.com/register/activate/{{activation_key}}/
      %br
      This link will expire in 48 hours.
      %br
      %br
      Element43 Team