- extends "base.haml"
- load humanize custom_filters compress
- block title
  = block.super
  Dashboard
- block content
  .row
    .col-md-8
      #history
      %table.table.table-condensed
        %thead
          %tr
            %th
            %th
              Profit
            %th
              Brokers Fee
            %th
              Taxes
        %tbody
          %tr
            %td
              Month
            - if month.profit > 0
              %td.green
                {{month.profit|intcomma}}
            - else
              %td.red
                {{month.profit|intcomma}}
            %td.red
              {{month.brokers_fee|intcomma}}
            %td.red
              {{month.taxes|intcomma}}
          %tr
            %td
              Week
            - if week.profit > 0
              %td.green
                {{week.profit|intcomma}}
            - else
              %td.red
                {{week.profit|intcomma}}
            %td.red
              {{week.brokers_fee|intcomma}}
            %td.red
              {{week.taxes|intcomma}}
          %tr
            %td
              Day
            - if day.profit > 0
              %td.green
                {{day.profit|intcomma}}
            - else
              %td.red
                {{day.profit|intcomma}}
            %td.red
              {{day.brokers_fee|intcomma}}
            %td.red
              {{day.taxes|intcomma}}
    .col-md-4
      %table.table.table-condensed
        - for point in sheet_data
          %tr
            %td{'width':'64px'}
              %img{'src':'//image.eveonline.com/Character/{{point.char.id}}_64.jpg', 'alt':'{{point.char.name}}'}
            %td
              .row
                .col-md-12
                  %a{'href':'#', 'onclick':'$("#char-sheet").modal({"remote":"/secure/dashboard/char_sheet/{{point.char.id}}/"});'}
                    {{point.char.name}}
                  .balance
                    {{point.char.balance|intcomma}} ISK
              .row
                .col-md-12
                  Estimated Update: {{point.next_update|naturaltime}}
      %h5 Last 10 Sales
      %table.table.table-condensed
        - for sale in last_ten_sales
          %tr
            %td
              %img{'src':'{{IMAGE_SERVER}}/Type/{{sale.invtype_id}}_16.png', 'alt':'icon'}
            %td
              {{sale.quantity|intcomma}}
            %td
              %a{'href':'{% url \'wallet_type\' type_id=sale.invtype_id %}'}
                {{sale.invtype.name}}
            %td.text-right
              {{sale.price|intcomma}}
            %td.text-right.green
              {{sale.value|intcomma}}
  #char-sheet.modal.fade{'tabindex':'-1', 'role':'dialog', 'aria-labelledby':'sheet-label', 'aria-hidden':'true'}
    .modal-dialog
      .modal-content
        .modal-header
          %button.close{'type':'button', 'data-dismiss':'modal', 'aria-hidden':'true'} ×
          %h3#sheet-label Character Sheet
        .modal-body
          .progress.progress-striped.active
            .progress-bar{'role':'progressbar', 'aria-valuenow':'100', 'aria-valuemin':'0', 'aria-valuemax':'100', 'style':'width: 100%'}
        .modal-footer
          %button.btn{'data-dismiss':'modal', 'aria-hidden':'true'} Close
- block scripts
  - compress js
    %script{'type':'text/javascript', 'src':'{{ STATIC_URL }}javascripts/dashboard.js'}