- extends "base_dashboard.haml"
- load humanize custom_filters compress
- block title
  = block.super
  Dashboard
- block content
  .row
    .col-lg-12
      %h1.page-header Dashboard
      .row
        .col-lg-8
          .panel.panel-default
            .panel-heading
              %i.fa.fa-clock-o.fa-fw
              News Timeline
            .panel-body
              %ul.timeline
                %li
                  .timeline-badge.success
                    %i
                      %img{'src':'{{ STATIC_URL }}images/en24.svg', 'width': '30 px'}
                  .timeline-panel
                    .timeline-heading
                      %h4.timeline-title Timeline Event
                      %p
                        %small.text-muted
                          %i.fa.fa-time
                          11 hours ago via Twitter
                    .timeline-body
                      %p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin vel justo eu mi scelerisque vulputate. Aliquam in metus eu lectus aliquet egestas.
                        %a{'href':'http://news.element-43.com'}
                          read on »
                %li.timeline-inverted
                  .timeline-badge.warning
                    %img{'src':'{{ STATIC_URL }}images/journal43.svg', 'width': '30 px'}
                  .timeline-panel
                    .timeline-heading
                      %h4.timeline-title Timeline Event
                    .timeline-body
                      %p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin vel justo eu mi scelerisque vulputate. Aliquam in metus eu lectus aliquet egestas.
                      %p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin vel justo eu mi scelerisque vulputate. Aliquam in metus eu lectus aliquet egestas.
                        %a{'href':'http://news.element-43.com'}
                          read on »
                %li
                  .timeline-badge
                    %i
                      %img{'src':'{{ STATIC_URL }}images/mittani.svg', 'width': '30 px'}
                  .timeline-panel
                    .timeline-heading
                      %h4.timeline-title Timeline Event
                    .timeline-body
                      %p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin vel justo eu mi scelerisque vulputate. Aliquam in metus eu lectus aliquet egestas.
                        %a{'href':'http://news.element-43.com'}
                          read on »
                %li.timeline-inverted
                  .timeline-badge.info
                    %i
                      %img{'src':'{{ STATIC_URL }}images/eve.svg', 'width': '30 px'}
                  .timeline-panel
                    .timeline-heading
                      %h4.timeline-title Timeline Event
                    .timeline-body
                      %p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin vel justo eu mi scelerisque vulputate. Aliquam in metus eu lectus aliquet egestas.
                        %a{'href':'http://news.element-43.com'}
                          read on »
                %li
                  .timeline-panel
                    .timeline-heading
                      %h4.timeline-title Timeline Event
                    .timeline-body
                      %p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin vel justo eu mi scelerisque vulputate. Aliquam in metus eu lectus aliquet egestas.
                %li.timeline-inverted
                  .timeline-badge.success
                    %i.fa.fa-thumbs-up
                  .timeline-panel
                    .timeline-heading
                      %h4.timeline-title Timeline Event
                    .timeline-body
                      %p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin vel justo eu mi scelerisque vulputate. Aliquam in metus eu lectus aliquet egestas.
        .col-lg-4
          .panel.panel-default
            .panel-heading
              %i.fa.fa-bell.fa-fw
              Notifications Panel
            .panel-body
              .list-group
                %a.list-group-item{'href': '#'}
                  %i.fa.fa-comment.fa-fw
                  Notifications not yet available
                  %span.pull-right.text-muted.small
                    %em now
              %a.btn.btn-default.btn-block{'href': '#', 'disabled': 'true'} View All Alerts
          .panel.panel-default
            .panel-heading
              %i.fa.fa-users.fa-fw
              Characters
            .panel-body
              %ul.chat
                - for point in sheet_data
                  %li.left.clearfix{'onclick':'$("#char-sheet").modal({"remote":"/secure/dashboard/char_sheet/{{point.char.id}}/"});'}
                    %span.chat-img.pull-left
                      %img.img-circle{'src':'//image.eveonline.com/Character/{{point.char.id}}_64.jpg', 'alt':'{{point.char.name}}'}
                    .chat-body.clearfix
                      .header
                        %strong.primary-font {{point.char.name}}
                        %small.pull-right.text-muted
                          %i.fa.fa-clock-o.fa-fw
                          Update: {{point.next_update|naturaltime}}
                      %p
                        {{point.char.balance|intcomma}} ISK
              %a.btn.btn-default.btn-block{'href':'{% url \'manage_characters\' %}'} Manage Characters
          .panel.panel-default
            .panel-heading
              %i.fa.fa-bar-chart-o
              Overview
            .panel-body
              .table-responsive
                %table.table.table-bordered.table-hover.table-striped
                  %thead
                    %tr
                      %th
                      %th
                        Profit
                      %th
                        Brokers Fee
                      %th
                        Taxes
                  %tbody
                    %tr
                      %td
                        Month
                      - if month.profit > 0
                        %td.green
                          {{month.profit|intcomma}}
                      - else
                        %td.red
                          {{month.profit|intcomma}}
                      %td.red
                        {{month.brokers_fee|intcomma}}
                      %td.red
                        {{month.taxes|intcomma}}
                    %tr
                      %td
                        Week
                      - if week.profit > 0
                        %td.green
                          {{week.profit|intcomma}}
                      - else
                        %td.red
                          {{week.profit|intcomma}}
                      %td.red
                        {{week.brokers_fee|intcomma}}
                      %td.red
                        {{week.taxes|intcomma}}
                    %tr
                      %td
                        Day
                      - if day.profit > 0
                        %td.green
                          {{day.profit|intcomma}}
                      - else
                        %td.red
                          {{day.profit|intcomma}}
                      %td.red
                        {{day.brokers_fee|intcomma}}
                      %td.red
                        {{day.taxes|intcomma}}
          .panel.panel-default
            .panel-heading
              %i.fa.fa-money
              Latest Sales
            .panel-body
              .table-responsive
                %table.table.table-bordered.table-hover.table-striped
                  - for sale in last_ten_sales
                    %tr
                      %td
                        %img{'src':'{{IMAGE_SERVER}}/Type/{{sale.invtype_id}}_16.png', 'alt':'icon'}
                      %td
                        {{sale.quantity|intcomma}}
                      %td
                        %a{'href':'{% url \'wallet_type\' type_id=sale.invtype_id %}'}
                          {{sale.invtype.name}}
                      %td.text-right
                        {{sale.price|intcomma}}
                      %td.text-right.green
                        {{sale.value|intcomma}}
    #char-sheet.modal.fade{'tabindex':'-1', 'role':'dialog', 'aria-labelledby':'sheet-label', 'aria-hidden':'true'}
      .modal-dialog
        .modal-content
          .modal-header
            %button.close{'type':'button', 'data-dismiss':'modal', 'aria-hidden':'true'} ×
            %h3#sheet-label Character Sheet
          .modal-body
            .progress.progress-striped.active
              .progress-bar{'role':'progressbar', 'aria-valuenow':'100', 'aria-valuemin':'0', 'aria-valuemax':'100', 'style':'width: 100%'}
          .modal-footer
            %button.btn{'data-dismiss':'modal', 'aria-hidden':'true'} Close
- block scripts
  - compress js
    %script{'type':'text/javascript', 'src':'{{ STATIC_URL }}javascripts/dashboard.js'}