# Low-level mumbo jumbo
psycopg2
gevent
ujson

# Things required by the web application
django
south
django-devserver
git+http://github.com/gtaylor/django-eve-db.git
numpy

# HAML support
pygments
hamlpy
djaml

# Consumer stuffs
emds
hotqueue
pylibmc

# Cython is a dependency of pyzmq's development branch
cython
git+http://github.com/zeromq/pyzmq.git
