# Low-level mumbo jumbo
psycopg2
gevent
ujson

# Things required by the web application
django
south
django-devserver

# HAML support
pygments
hamlpy
djaml

# Consumer stuffs
emds
hotqueue

# Cython is a dependency of pyzmq's development branch
cython
git+http://github.com/zeromq/pyzmq.git