- extends "base.haml"
- load custom_filters
- block title
  = block.super
  {{user.username}} - Settings
- block content
  %h1
    {{user.username}}
  .row-fluid
    .span3
      %ul.nav.nav-tabs.nav-stacked
        %li
          %a{'href':'{% url settings %}'}
            Modify Profile
        %li
          %a{'href':'{% url manage_characters %}'}
            Manage Characters  
        %li.active
          %a{'href':'{% url manage_api_keys %}'}
            Manage API Keys
    .span9
      %form.form-horizontal{'action':'{{request.get_full_path}}', 'method':'post'}
        %fieldset
          - csrf_token
          %table.table.table-striped
            %thead
              %tr
                %th
                %th
                  Name
                %th
                  Corporation
                %td
                  Add
            %tbody
              - for char in chars
                %tr
                  %td
                    %img{'src':'http://image.eveonline.com/Character/{{char.characterID}}_32.jpg'}
                  %td
                    = char.name
                  %td
                    = char.corporationName
                  %td
                    %input{'type':'checkbox', 'name':'characters', 'value':'{{char.characterID}}'}
          .control-group
            .controls
              %button.btn.btn-primary{'type':'submit'}
                Add Characters
          
