- extends "base.haml"
- load custom_filters
- block title
  element43 - Activation
- block content
  - if success
    .alert.alert-success
      %i.icon-white.icon-info-sign
      %b Success!
      %p Thank you for activating you account. You can use all features of Element43 now!
  - else
    .alert.alert-error
      %i.icon-white.icon-warning-sign
      %b Something went wrong!
      %p There is no account associated with this key!
