- extends "base.haml"
- load custom_filters
- block title
  element43 - Register - Success
- block content
  .alert.alert-success
    %i.icon-white.icon-info-sign
    %b Success!
    %p Your account has been created and an e-mail message containing your activation key has been sent to the adress you specified. You have to activate your account within the next 48 hours.
