- extends "base_dashboard.haml"
- load custom_filters
- block title
  = block.super
  Add Characters
- block content
  .col-lg-12
    %h1.page-header Add Characters
    .row
      .panel.panel-default
        .panel-body
          %form.form-horizontal{'action':'{{request.get_full_path}}', 'method':'post'}
            - csrf_token
            %table.table.table-striped
              %thead
                %tr
                  %th
                  %th
                    Name
                  %th
                    Corporation
                  %td
                    Add
              %tbody
                - for char in chars
                  %tr
                    %td
                      %img{'src':'//image.eveonline.com/Character/{{char.characterID}}_32.jpg'}
                    %td
                      = char.name
                    %td
                      = char.corporationName
                    %td
                      %input{'type':'checkbox', 'name':'characters', 'value':'{{char.characterID}}'}
            .row
              .col-lg-2.col-lg-offset-1
                .form-group
                  %button.btn.btn-primary{'type':'submit'}
                    Add Characters

