- extends "base_dashboard.haml"
- load custom_filters
- block title
  = block.super
  Characters
- block content
  .col-lg-12
    %h1.page-header Characters
    .row
      .panel.panel-default
        .panel-body
          %table.table.table-striped
            %tbody
              - for char in characters
                %tr
                  %td
                    %img{'src':'//image.eveonline.com/Character/{{char.id}}_32.jpg'}
                  %td
                    = char.name
                  %td.text-right
                    %a{'href':'{% url \'remove_character\' char_id=char.id %}'}
                      .btn.btn-danger
                        Remove



