- extends "base.haml"
- load compress
- block title
  = block.super
  Browse Market
- block content
  %h1
    = parent.name
  .row
    #tree.col-md-3
    #group.col-md-9
      %h1
        Browse Market
      %i Select a group on the left side to display market details.
- block scripts
  - compress js
    %script{'type':'text/javascript', 'src':'{{ STATIC_URL }}javascripts/jquery.dynatree.min.js'}
    %script{'type':'text/javascript', 'src':'{{ STATIC_URL }}javascripts/jquery.cookie.js'}
    %script{'type':'text/javascript', 'src':'{{ STATIC_URL }}javascripts/browser.js'}
  - if market_group
    %script{'type':'text/javascript'}
      var marketGroup = {{market_group}};
