- load humanize
#panel{'style':'display: none;'}
  %script{'type':'text/javascript'}
    $(document).ready(function(){
    	$('#panel').fadeIn(400);
      $('.typeimage').hide().fadeIn(400);
    });
  %h1
    = parent_name
  - for type in types
    .row
      .col-md-12
        %h3
          {{type.name}}
    .row
      .col-md-2
        %a{'href':'{% url \'quicklook\' type_id=type.id %}'}
          %img.typeimage{'src':format('{{ IMAGE_SERVER }}/Type/{{ type.id }}_64.png'), 'alt':'type image', 'width':'64px', 'height':'64px'}
      .col-md-10
        %p
          = type.description|striptags
    .row.typeinfo
      .col-md-8
      %a{'href':'{% url \'quicklook\' type_id=type.id %}'}
        .col-md-4.text-right
          .btn.btn-primary
            More Info
    %hr