- extends "base.haml"
- load humanize custom_filters compress
- block title
  = block.super
  Tradefinder
- block content
  %h1
    Tradefinder
  - if form.non_field_errors
    .alert.alert-error
      %i.glyphicon.glyphicon-warning-sign
      = form.non_field_errors
  %form.well.form-horizontal{'action':'{% url \'tradefinder\' %}', 'method':'post'}
    - csrf_token
    %legend
      Find inter-region trades
    %div{'class':'form-group{{form.start|css_error}}'}
      %label.col-lg-2{'for':'start'} Start
      .col-lg-2
        %input#start-typeahead.form-control{'type':'text', 'name':'start', 'autocomplete': 'off'}
        - if form.start.errors
          %span.help-block
            - for error in form.start.errors
              = error|escape
    %div{'class':'form-group{{form.destination|css_error}}'}
      %label.col-lg-2{'for':'destination'} Destination
      .col-lg-2
        %input#destination-typeahead.form-control{'type':'text', 'name':'destination', 'autocomplete': 'off'}
        - if form.destination.errors
          %span.help-block
            - for error in form.destination.errors
              = error|escape
    %hr
      .form-group
        .col-lg-4.col-lg-offset-2
          %button.btn.btn-success{'type':'submit'}
            %i.glyphicon.glyphicon-search
            Find Trades
- block scripts
  - compress js
    %script{'type':'text/javascript', 'src':'{{ STATIC_URL }}javascripts/tradefinder.js'}
