- extends "base.haml"
- load url from future
- load humanize custom_filters compress rest_framework
- block title
  = block.super
  API
- block content
  %ul.breadcrumb
    - for breadcrumb_name, breadcrumb_url in breadcrumblist
      %li
        %a{'href':'{{ breadcrumb_url }}', 'class':"{% if forloop.last %}active{% endif %}"}
          = breadcrumb_name
  #content
    - if 'GET' in allowed_methods
      %form#get-form.pull-right
        %fieldset
          .btn-group.format-selection
            %a.btn.btn-primary.js-tooltip{'href':"{{ request.get_full_path }}", 'rel':"nofollow", 'title':"Make a GET request on the {{ name }} resource"} GET
            %button.btn.btn-primary.dropdown-toggle.js-tooltip{"data-toggle":"dropdown", 'title':"Specify a format for the GET request"}
              %span.caret
            %ul.dropdown-menu
              - for format in available_formats
                %li
                  %a.js-tooltip.format-option{'href':"{% add_query_param request api_settings.URL_FORMAT_OVERRIDE format %}", 'rel':"nofollow", 'title':"Make a GET request on the {{ name }} resource with the format set to `{{ format }}`"}
                    = format
    - if options_form
      %form.pull-right{'action':"{{ request.get_full_path }}", 'method':"POST"}
        - csrf_token
        %input{'name':"{{ api_settings.FORM_METHOD_OVERRIDE }}", 'type':"hidden", 'value':"OPTIONS"}
        %button.btn.btn-primary.js-tooltip{:title => "Make an OPTIONS request on the {{ name }} resource"} OPTIONS

    - if delete_form
      %form.pull-right{'action':"{{ request.get_full_path }}", 'method':"POST"}
        - csrf_token
        %input{'name':"{{ api_settings.FORM_METHOD_OVERRIDE }}", 'type':"hidden", 'value':"DELETE"}
        %button.btn.btn-danger.js-tooltip{'title':"Make a DELETE request on the {{ name }} resource"} DELETE
    .content-main
      .page-header
        %h1 {{ name }}
      {{ description }}
      .request-info{'style':"clear: both"}
        %pre.prettyprint
          %b> {{ request.method }} {{ request.get_full_path }}
      .response-info
        %pre.prettyprint
          .meta.nocode{'style':'white-space: pre-line;'}<
            %b HTTP {{ response.status_code }} {{ response.status_text }}
            - autoescape off
              - for key, val in response.items
                %b> {{ key }}:&nbsp;
                %span.lit {{ val|break_long_headers|urlize_quoted_links }}
          - autoescape off
            %div<
              = content|urlize_quoted_links
    - if response.status_code != 403
      - if post_form or raw_data_post_form
        %div{'class': "{% if post_form %}tabbable{% endif %}"}
          - if post_form
            %ul.nav.nav-tabs.form-switcher
              %li
                %a{"data-toggle":"tab", 'href':"#object-form"} HTML form
              %li
                %a{"data-toggle":"tab", 'href':"#generic-content-form"} Raw data
          .well.tab-content
            - if post_form
              #object-form.tab-pane
                - with form=post_form
                  %form.form-horizontal{'action':"{{ request.get_full_path }}", 'method':"POST", 'enctype': "{% if form.is_multipart %}multipart/form-data{%else%}application/x-www-form-urlencoded{% endif %}"}
                    %fieldset
                      - include "rest_framework/form.html"

                        %button.btn.btn-primary{'title':"Make a POST request on the {{ name }} resource"} POST
          %div#generic-content-form{'class':"{% if post_form %}tab-pane{% endif %}"}
            - with form=raw_data_post_form
              %form.form-horizontal{'action':"{{ request.get_full_path }}", 'method':"POST"}
                %fieldset
                  - include "rest_framework/form.html"

                    %button.btn.btn-primary{'title':"Make a POST request on the {{ name }} resource"} POST

      - if put_form or raw_data_put_form or raw_data_patch_form
        %div{'class':"{% if put_form %}tabbable{% endif %}"}
          - if put_form
            %ul.nav.nav-tabs.form-switcher
              %li
                %a{"data-toggle":"tab", 'href':"#object-form"} HTML form
              %li
                %a{"data-toggle":"tab", 'href':"#generic-content-form"} Raw data
          .well.tab-content
            - if put_form
              #object-form.tab-pane
                - with form=put_form
                  %form.form-horizontal{'action':"{{ request.get_full_path }}", 'enctype': "{% if form.is_multipart %}multipart/form-data{%else%}application/x-www-form-urlencoded{% endif %}"}
                    %fieldset
                      - include "rest_framework/form.html"

                        %button.btn.btn-primary.js-tooltip{'name':"{{ api_settings.FORM_METHOD_OVERRIDE }}", 'title':"Make a PUT request on the {{ name }} resource", 'value':"PUT"} PUT
            %div#generic-content-form{'class':"{% if put_form %}tab-pane{% endif %}"}
              - with form=raw_data_put_or_patch_form
                %form.form-horizontal{'action':"{{ request.get_full_path }}", 'method':"POST"}
                  %fieldset
                    - include "rest_framework/form.html"

                      - if raw_data_put_form
                        %button.btn.btn-primary.js-tooltip{'name':"{{ api_settings.FORM_METHOD_OVERRIDE }}", 'title':"Make a PUT request on the {{ name }} resource", 'value':"PUT"} PUT
                      - if raw_data_patch_form
                        %button.btn.btn-primary.js-tooltip{'name':"{{ api_settings.FORM_METHOD_OVERRIDE }}", 'title':"Make a PUT request on the {{ name }} resource", 'value':"PATCH"} PATCH
    %i
      Please use our API responsibly.
      This stuff is realtime but you don't need to be refreshing every second, so try to be rational about it.
      %br
      Abuse of the API system will result in your IP being banned.
    - block scripts
      %script{'src':"{{ STATIC_URL }}rest_framework/js/prettify-min.js"}
      %script{'src':"{{ STATIC_URL }}rest_framework/js/default.js"}