- load humanize
%h2
  Import from {{region.name}}
.row
  .col-md-12
    %table.table.table-striped.table-condensed
      %thead
        %tr
          %th
          %th.text-right
            %a{'href':'#', 'rel':'tooltip', 'title':'Lowest ask price in {{region.name}}'}
              {{region.name}} Ask
          %th.text-right
            %a{'href':'#', 'rel':'tooltip', 'title':'Ask Qty within 1% of lowest ask price'}
              Ask Qty
          %th.text-right
            %a{'href':'#', 'rel':'tooltip', 'title':'Highest bid price in target station.'}
              Local Bid
          %th.text-right
            %a{'href':'#', 'rel':'tooltip', 'title':'Bid Qty within 1% of highest bid price'}
              Bid Qty
          %th.text-right
            %a{'href':'#', 'rel':'tooltip', 'title':'Markup % between {{region.name}} and target station'}
              Markup
          %th.text-right
            %a{'href':'#', 'rel':'tooltip', 'title':'Volume traded based on history in target station.'}
              Weekly Volume
          %th.text-right
            %a{'href':'#', 'rel':'tooltip', 'title':'Potential weekly profit based on markup and volume.'}
              Potential Profit
      %tbody
        - for item in markup
           %tr
             %td
               %img{'src':'{{ IMAGE_SERVER }}/Type/{{item.id}}_16.png'}
               %a{'href':'{% url \'quicklook\' type_id=item.id %}'}
                 {{item.name}}
             %td.text-right
               {{item.foreign_ask|floatformat:2|intcomma}}
             %td.text-right
               {{item.ask_qty_filtered|intcomma}}
             %td.text-right
               {{item.local_bid|floatformat:2|intcomma}}
             %td.text-right
               {{item.bid_qty_filtered|intcomma}}
             %td.text-right
               {{item.markup|floatformat:2|intcomma}} %
             %td.text-right
               {{item.weekly_volume|intcomma}}
             %td.text-right
               {{item.potential_profit|floatformat:2|intcomma}}