- load humanize
- load custom_filters
- for item in spreads
  .row
    .well
      .row
        .col-md-1
          %img{'src':'{{IMAGE_SERVER}}/Type/{{item.type.id}}_64.png'}
        .col-md-11
          .row
            .col-md-9
              %h3
                = item.type.name
              %span.price
                Bid: {{item.bid|floatformat:"2"|intcomma}}
              %span.price
                Ask: {{item.ask|floatformat:"2"|intcomma}}
              %span.price
                Spread: {{item.spread|floatformat:"2"|intcomma}} %
            .col-md-3
              - if request|is_igb
                .text-right
                  %a.btn.btn-success{'href':'#', 'onclick':'CCPEVE.showMarketDetails({{item.type.id}});'}
                    %i.icon-shopping-cart.icon-white
                    Show Market Details
      %hr
      .text-right
        %a.btn.btn-primary{'href':'{% url \'quicklook_region\' type_id=item.type.id region_id=station.region_id %}', 'target':'_blank'}
          %i.glyphicon.glyphicon-chevron-right
          Regional Quicklook