- extends "base.haml"
- load cache humanize custom_filters compress
- block title
  = block.super
  {{station.name}}
- block content
  .row
    #menu-left.col-md-2
      %ul#tabs.nav.nav-pills.nav-stacked
          %li.active
            %a#overview_link{'href':'#overview', 'data_toggle':'pill'} Overview
          %li
            %a#spread_link{'href':'#spread', 'data_toggle':'pill'} Bid/Ask Spread
          %li
            %a#import_link{'href':'#import', 'data_toggle':'pill'} Import
      #spread-controls{'style':'display: none;'}
        #button-back.btn.btn-primary
          << Back
        #tree
    #panel-right.col-md-10
      %h1
        {{station.name}}
      .tab-content
        #overview.tab-pane.fade.active.in
          .row
            .col-md-2
              %img{'src':'//image.eveonline.com/Render/{{station.type.id}}_128.png', 'alt':'station render'}
            .col-md-5
              %table.table.table-striped
                %tbody
                  %tr
                    %td
                      Region
                    %td
                      {{station.region.name}}
                  %tr
                    %td
                      Constellation
                    %td
                      {{station.constellation.name}}
                  %tr
                    %td
                      Solar System
                    %td
                      %span{'class':'sec{{station.solar_system.security_level|sec0to10}}'}
                        • {{station.solar_system.security_level|sec0to1}}
                      {{station.solar_system.name}}
            .col-md-5
              %table.table.table-striped
                %tbody
                  %tr
                    %td
                      Reprocessing Efficiency
                    %td
                      {{station.reprocessing_efficiency}}
                  %tr
                    %td
                      Reprocessing Mineral Cost
                    %td
                      {{station.reprocessing_stations_take}}
                  %tr
                    %td
                      Office Rental Cost
                    %td
                      {{station.office_rental_cost|intcomma}} ISK
        #spread.tab-pane.fade
          #group
            %i Please select a group on the left side to display spread details.
        #import.tab-pane.fade
          #import-field.row{'style':'margin-bottom: 1em;'}
            .col-md-4
            .col-md-4{'style':'margin-top: 2em; text-align:center;'}
              %input#import-search{'type':'text', 'placeholder':'Region / System...', 'name':'query'}
            .col-md-4
          %i Choose a region or system to import from with the text field above.
- block scripts
  %script{'type':'text/javascript'}
    var staStationID = {{station.id}};
  - compress js
    %script{'type':'text/javascript', 'src':'{{ STATIC_URL }}javascripts/jquery.dynatree.min.js'}
    %script{'type':'text/javascript', 'src':'{{ STATIC_URL }}javascripts/jquery.cookie.js'}
    %script{'type':'text/javascript', 'src':'{{ STATIC_URL }}javascripts/station.js'}