.well, .breadcrumb, input,
input[type="file"],
select,
textarea, .progress, code, pre {
  -moz-box-shadow: rgba(255, 255, 255, 0.1) 0 1px 0, rgba(0, 0, 0, 0.8) 0 1px 7px 0px inset;
  -webkit-box-shadow: rgba(255, 255, 255, 0.1) 0 1px 0, rgba(0, 0, 0, 0.8) 0 1px 7px 0px inset;
  -o-box-shadow: rgba(255, 255, 255, 0.1) 0 1px 0, rgba(0, 0, 0, 0.8) 0 1px 7px 0px inset;
  box-shadow: rgba(255, 255, 255, 0.1) 0 1px 0, rgba(0, 0, 0, 0.8) 0 1px 7px 0px inset;
  background: #202020;
  background-color: rgba(0, 0, 0, 0.3);
}

body {
  background: #2f2f2f;
  color: #c6c6c6;
}

.breadcrumb {
  border: 0;
}

.breadcrumb li {
  text-shadow: 0 1px 0 #000;
}

.page-header {
  -moz-box-shadow: rgba(255, 255, 255, 0.07) 0 1px 0;
  -webkit-box-shadow: rgba(255, 255, 255, 0.07) 0 1px 0;
  -o-box-shadow: rgba(255, 255, 255, 0.07) 0 1px 0;
  box-shadow: rgba(255, 255, 255, 0.07) 0 1px 0;
  border-bottom: 1px solid #121212;
}

h1, h2, h3, h4, h5, h6 {
  color: white;
}

h6 {
  color: #999;
}

.nav-tabs .open .dropdown-toggle,
.nav-pills .open .dropdown-toggle,
.nav > .open.active > a:hover {
  background-color: #222222;
  border-color: #2f2f2f #2f2f2f transparent #2f2f2f;
}

.nav > .dropdown.active > a:hover {
  color: #fff;
}

/* line 65, ../sass/darkstrap.scss */
.nav-tabs .active .dropdown-toggle .caret,
.nav-pills .active .dropdown-toggle .caret {
  border-top-color: #fff;
}

.nav-tabs {
  border-bottom: 1px solid #666;
}

.nav-tabs > .active > a, .nav-tabs > .active > a:hover {
  background-color: #2f2f2f;
  color: #fff;
  border-color: #666 #666 transparent #666;
}

.nav-tabs > li > a:hover {
  border-color: #2f2f2f #2f2f2f #666666 #2f2f2f;
  background-color: #222222;
  color: #00aaff;
}

.nav-tabs.nav-stacked > li > a, .nav-tabs.nav-stacked > li > a:hover {
  border-color: #666;
}

.nav-pills > li > a:hover {
  background-color: #222222;
  color: #00aaff;
}

.nav-list > li > a,
.nav-list .nav-header {
  text-shadow: 0 1px 0 #000;
}

.nav-list > li > a:hover {
  background-color: #161616;
  color: #00aaff;
}

.nav-list .active > a:hover {
  background-color: #0088cc;
  color: white;
}

.tabs-below .nav-tabs {
  border-top: 1px solid #666;
}

.tabs-left .nav-tabs {
  border-right: 1px solid #666;
}

.tabs-right .nav-tabs {
  border-left: 1px solid #666;
}

.tabs-below .nav-tabs > li > a:hover {
  border-top: 1px solid #666;
}

.tabs-left .nav-tabs > li > a:hover {
  border-color: transparent #666 transparent transparent;
}

.tabs-right .nav-tabs > li > a:hover {
  border-color: transparent transparent transparent #666;
}

.tabs-below .nav-tabs .active > a,
.tabs-below .nav-tabs .active > a:hover {
  border-color: transparent #666 #666 #666;
}

.tabs-left .nav-tabs .active > a,
.tabs-left .nav-tabs .active > a:hover {
  border-color: #666 transparent #666 #666;
}

.tabs-right .nav-tabs .active > a,
.tabs-right .nav-tabs .active > a:hover {
  border-color: #666 #666 #666 transparent;
}

:-moz-placeholder {
  color: #666666;
}

::-webkit-input-placeholder {
  color: #666666;
}

.input-prepend .add-on,
.input-append .add-on {
  background: #444;
  color: #c6c6c6;
  border-color: #111;
  text-shadow: 0 1px 0  black;
}

label {
  color: #c6c6c6;
}

input,
input[type="file"],
select,
textarea {
  color: white;
  border-color: #111111;
}

.search-query {
  -webkit-box-shadow: rgba(255, 255, 255, 0.1) 0 1px 0, rgba(0, 0, 0, 0) 0 1px 7px 0px inset;
}

legend {
  color: white;
  -moz-box-shadow: rgba(255, 255, 255, 0.07) 0 1px 0;
  -webkit-box-shadow: rgba(255, 255, 255, 0.07) 0 1px 0;
  -o-box-shadow: rgba(255, 255, 255, 0.07) 0 1px 0;
  box-shadow: rgba(255, 255, 255, 0.07) 0 1px 0;
  border-bottom: 1px solid #121212;
}

.form-actions {
  border-top-color: #222;
  background-color: #444;
}

.help-inline {
  color: #999;
}

.control-group.warning > label,
.control-group.warning .help-block,
.control-group.warning .help-inline {
  color: #faa732;
}

.control-group.warning input, .control-group.warning select, .control-group.warning textarea {
  color: #faa732;
  border-color: #faa732;
}

.control-group.warning input:focus,
.control-group.warning select:focus,
.control-group.warning textarea:focus {
  border-color: #faa732;
  -moz-box-shadow: 0 0 6px #faa732;
  -webkit-box-shadow: 0 0 6px #faa732;
  -o-box-shadow: 0 0 6px #faa732;
  box-shadow: 0 0 6px #faa732;
}

.control-group.success > label, .control-group.success .help-block, .control-group.success .help-inline {
  color: #5bb75b;
}

.control-group.success input, .control-group.success select, .control-group.success textarea {
  color: #5bb75b;
  border-color: #5bb75b;
}

.control-group.success input:focus, .control-group.success select:focus, .control-group.success textarea:focus {
  border-color: #5bb75b;
  -moz-box-shadow: 0 0 6px #5bb75b;
  -webkit-box-shadow: 0 0 6px #5bb75b;
  -o-box-shadow: 0 0 6px #5bb75b;
  box-shadow: 0 0 6px #5bb75b;
}

.control-group.error > label, .control-group.error .help-block, .control-group.error .help-inline {
  color: #fc5b5e;
}

.control-group.error input, .control-group.error select, .control-group.error textarea {
  color: #fc5b5e;
  border-color: #fc5b5e;
}

.control-group.error input:focus, .control-group.error select:focus, .control-group.error textarea:focus {
  border-color: #fc5b5e;
  -moz-box-shadow: 0 0 6px #fc5b5e;
  -webkit-box-shadow: 0 0 6px #fc5b5e;
  -o-box-shadow: 0 0 6px #fc5b5e;
  box-shadow: 0 0 6px #fc5b5e;
}

.table thead {
  color: white;
}

.table td {
  border-top-color: #666;
}


.table-striped tbody tr:nth-child(2n+1) td, .table-striped tbody tr:nth-child(2n+1) th {
  background-color: #444;
}


.table-bordered {
  border: 1px solid #666;
}

.table-bordered th + th,
.table-bordered td + td,
.table-bordered th + td,
.table-bordered td + th {
  border-left: 1px solid #666;
}


.pagination a:hover {
  color: #00aaff;
  background-color: #222222;
}

.pagination .active a {
  color: #fff;
  background-color: #222222;
}

.pagination a {
  border-color: #666;
}

.pager a {
  background-color: #2f2f2f;
  border-color: #666;
}

.pager a:hover {
  background-color: #222222;
  color: #00aaff;
}

.alert {
  color: #fff;
  background-color: #faa732;
  text-shadow: 0 1px 0 rgba(0, 0, 0, 0.25);
  border-color: #a86404;
}

.alert h4 {
  color: #c17305;
}

.alert-success {
  color: #fff;
  background-color: #5bb75b;
  text-shadow: 0 1px 0 rgba(0, 0, 0, 0.25);
  border-color: #2d662d;
}

.alert-success h4 {
  color: #347834;
}


.alert-error {
  color: #fff;
  background-color: #fc5b5e;
  text-shadow: 0 1px 0 rgba(0, 0, 0, 0.25);
  border-color: #d40408;
}

.alert-error h4 {
  color: #ed0409;
}

.alert-info {
  color: #fff;
  background-color: #3a87ad;
  text-shadow: 0 1px 0 rgba(0, 0, 0, 0.25);
  border-color: #1a3c4e;
}

.alert-info h4 {
  color: #204b61;
}

.modal {
  background-color: #444;
}

.modal-header {
  border-bottom: 1px solid #222;
}

.modal-body p {
  color: #c6c6c6;
}

.modal-footer {
  background-color: #373737;
  border-top: 1px solid #222;
  -moz-box-shadow: 0 1px 0 #333333 inset;
  -webkit-box-shadow: 0 1px 0 #333333 inset;
  -o-box-shadow: 0 1px 0 #333333 inset;
  box-shadow: 0 1px 0 #333333 inset;
}

blockquote {
  border-left-color: #111;
}

blockquote.pull-right {
  border-right-color: #111;
}

hr {
  -moz-box-shadow: rgba(255, 255, 255, 0.07) 0 1px 0;
  -webkit-box-shadow: rgba(255, 255, 255, 0.07) 0 1px 0;
  -o-box-shadow: rgba(255, 255, 255, 0.07) 0 1px 0;
  box-shadow: rgba(255, 255, 255, 0.07) 0 1px 0;
  border-bottom: 1px solid #121212;
  border-top: none;
}

code {
  border: none;
}

pre {
  border: none;
  color: #c6c6c6;
}