/*
 * Main CSS file for element43
 */

// General Variables
$background: 		 #000000;
$background_grey:#2F2F2F;
$blue:           #019CFF;
$contrast_blue:  #6EA8E5;
$white:          #FFFFFF;
$red:						 #FF0000;
$green:					 #50C878;
$orange:         #E68A17;
$grey:					 #333333;

$padding: 				 10px;

// Mixins

@mixin panel {
	background-color: rgba(255, 255, 255, 0.2); 
	padding: $padding;
}

@mixin heading {
	color: $contrast_blue;
	font-weight: bold;
	text-transform: uppercase;
	margin-bottom: 1em;
}

// HTML Elements

h1, h2, h3 {
	@include heading;
}

body {
	color: $white;
	background: url("../images/background.jpg") no-repeat scroll center top $background;
}

a {
	color: $contrast_blue;
}

td {
	a {
		color: $orange;
		text-decoration: none;

		&:hover {
			background-color: $orange;
			color: $white !important;
			text-shadow: 1px 1px $grey;
			text-decoration: none;
		}
		&:visited {
			color: $orange;
			text-decoration: none;
		}
	}
}

// Table highlight fix

.table tbody tr:hover td,
.table tbody tr:hover th {
  background-color: transparent;
}

.table-striped tbody tr:nth-child(odd):hover td {
   background-color: rgb(68, 68, 68);
}

// Classes

.panel-wrapper {
	@include panel;
}

.content {
	padding: $padding;
	background: $background_grey;
}

.navbar {
	padding: $padding;
	background: rgba(0, 0, 0, 0.4);
	border-bottom: 1px solid #313F41;
}

.navbar-inner {
	background: transparent;
}

// Rarely Used Clases

// Fancy clock

.clock {
	float: right;
	color:#fff;
	margin:0 auto;
	padding: 0;
	
	ul {
		float:left;
		list-style:none;
		margin:0 auto;
		padding:0;
	}

	ul li {
		display:inline;
		text-shadow:0 0 2px #00c6ff;
		padding: 0;
	}
}

#date {
	float: left;
	padding-right: 5px;
	text-shadow:0 0 2px #00c6ff;
}

#point {
	position:relative;
	-moz-animation:clktrans 1s ease infinite;
	-webkit-animation:clktrans 1s ease infinite;
	padding: 0;
}


/* Simple Animation */
@-webkit-keyframes clktrans 
{
0% {opacity:1.0; text-shadow:0 0 20px #00c6ff;}
50% {opacity:0; text-shadow:none; }
100% {opacity:1.0; text-shadow:0 0 20px #00c6ff; }	
}

@-moz-keyframes clktrans 
{
0% {opacity:1.0; text-shadow:0 0 20px #00c6ff;}
50% {opacity:0; text-shadow:none; }
100% {opacity:1.0; text-shadow:0 0 20px #00c6ff; }	
}

// Hero font color fix

.hero-unit {
	h1 {
		color: white;
	}
}

// System Security Colors

.sec10 {
	color: #2FEFEF;
}

.sec9 {
	color: #48F0C0;
}

.sec8 {
	color: #00EF47;
}

.sec7 {
	color: #00F000;
}

.sec6 {
	color: #8FEF2F;
}

.sec5 {
	color: #EFEF00;
}

.sec4 {
	color: #D77700;
}

.sec3 {
	color: #F06000;
}

.sec2 {
	color: #F04800;
}

.sec1 {
	color: #D73000;
}

.sec0 {
	color: #F00000;
}