/*
 * Main CSS file for element43
 */
/* line 20, main.scss */
body {
  background: url("../images/background.jpg") no-repeat scroll center top black;
}

/* line 26, main.scss */
.panel-wrapper {
  background-color: rgba(255, 255, 255, 0.2);
  padding: 10px;
}

/* line 30, main.scss */
.content {
  padding: 10px;
  background: #2f2f2f;
}

/* line 39, main.scss */
.clock {
  float: right;
  color: #fff;
  margin: 0 auto;
  padding: 0;
}
/* line 45, main.scss */
.clock ul {
  float: left;
  list-style: none;
  margin: 0 auto;
  padding: 0;
}
/* line 52, main.scss */
.clock ul li {
  display: inline;
  text-shadow: 0 0 2px #00c6ff;
  padding: 0;
}

/* line 59, main.scss */
#date {
  float: left;
  padding-right: 5px;
  text-shadow: 0 0 2px #00c6ff;
}

/* line 65, main.scss */
#point {
  position: relative;
  -moz-animation: clktrans 1s ease infinite;
  -webkit-animation: clktrans 1s ease infinite;
  padding: 0;
}

/* Simple Animation */
@-webkit-keyframes clktrans {
  /* line 76, main.scss */
  0% {
    opacity: 1.0;
    text-shadow: 0 0 20px #00c6ff;
  }

  /* line 77, main.scss */
  50% {
    opacity: 0;
    text-shadow: none;
  }

  /* line 78, main.scss */
  100% {
    opacity: 1.0;
    text-shadow: 0 0 20px #00c6ff;
  }
}

@-moz-keyframes clktrans {
  /* line 83, main.scss */
  0% {
    opacity: 1.0;
    text-shadow: 0 0 20px #00c6ff;
  }

  /* line 84, main.scss */
  50% {
    opacity: 0;
    text-shadow: none;
  }

  /* line 85, main.scss */
  100% {
    opacity: 1.0;
    text-shadow: 0 0 20px #00c6ff;
  }
}

/* line 91, main.scss */
.hero-unit h1 {
  color: white;
}

/* line 98, main.scss */
.sec10 {
  color: #2FEFEF;
}

/* line 102, main.scss */
.sec9 {
  color: #48F0C0;
}

/* line 106, main.scss */
.sec8 {
  color: #00EF47;
}

/* line 110, main.scss */
.sec7 {
  color: #00F000;
}

/* line 114, main.scss */
.sec6 {
  color: #8FEF2F;
}

/* line 118, main.scss */
.sec5 {
  color: #EFEF00;
}

/* line 122, main.scss */
.sec4 {
  color: #D77700;
}

/* line 126, main.scss */
.sec3 {
  color: #F06000;
}

/* line 130, main.scss */
.sec2 {
  color: #F04800;
}

/* line 134, main.scss */
.sec1 {
  color: #D73000;
}

/* line 138, main.scss */
.sec0 {
  color: #F00000;
}
