/*
 * Main CSS file for element43
 */

// General Variables
$background:        #000000;
$background-grey:   #121417;
$blue:              #019CFF;
$contrast-blue:     #33b5e5;
$white:             #FFFFFF;
$red:               #FF0000;
$green:             #50C878;
$orange:            #E68A17;
$grey:              #333333;
$light-grey:        #444444;

$padding:           10px;

// Orbitron Font
@import url('http://fonts.googleapis.com/css?family=Orbitron:500');

// Mixins

@mixin panel {
    background-color: rgba(255, 255, 255, 0.2); 
    padding: $padding;
}

@mixin heading {
    text-transform: uppercase;
    margin-bottom: 1em;
}

// HTML Elements

h1, h2, h3 {
    @include heading;
}

body {
    background: url("/static/images/background.jpg") no-repeat scroll center top $background;
}

td {
    a {
        color: $orange;
        text-decoration: none;

        &:hover {
            background-color: $orange;
            color: $white !important;
            text-shadow: 1px 1px $grey;
            text-decoration: none;
        }
        &:visited {
            color: $orange;
            text-decoration: none;
        }
    }
}

footer {
    text-align: center;
}

// Classes

.text-right {
    text-align: right !important;
}

.text-center {
    text-align: center !important;
}

// Market Browser

.typeinfo {
    margin-top: 1em;
}

.price {
    font-family: 'Orbitron', sans-serif;
    color: $white;
    text-shadow: 0 0 3px $contrast-blue;
    font-size: 18px;
}

// Search field

.autocomplete-w1 { background-color: $background-grey; position:absolute; top:0px; left:0px; margin:6px 0 0 6px;}
.autocomplete { border:1px solid $grey; background: $background-grey; cursor:default; text-align:left; overflow:auto;}
.autocomplete .selected { background: $light-grey; }
.autocomplete div { padding:2px 5px; white-space:nowrap; overflow:hidden; }
.autocomplete strong { font-weight:normal; color: $contrast-blue; }

// Navbar container fix
.navbar-top .container {
    width: 940px;
}

@media (min-width: 1200px) {
    .navbar-top .container {
    width: 1170px;
    }
}

.panel-wrapper {
    @include panel;
}

.content {
    background-color: $background-grey;
    padding: $padding;
}

// Rarely Used Clases

.scan_done {
    background: $green;
}

// Fancy clock

.clock {
    color: #fff;
    margin: 0 auto;
    padding: 0;
    
    ul {
        display: inline-block;
        list-style:none;
        margin:0 auto;
        padding:0;
    }

    ul li {
        display: inline;
        text-shadow: 0 0 3px $contrast-blue;
        padding: 0;
    }
}

#date {
    display: inline-block;
    text-shadow: 0 0 2px $contrast-blue;
}

#point {
    position:relative;
    -moz-animation:clktrans 1s ease infinite;
    -webkit-animation:clktrans 1s ease infinite;
    padding: 0;
}


/* Simple Animation */
@-webkit-keyframes clktrans 
{
0% {opacity:1.0; text-shadow:0 0 20px $contrast-blue;}
50% {opacity:0; text-shadow:none; }
100% {opacity:1.0; text-shadow:0 0 20px $contrast-blue; }   
}

@-moz-keyframes clktrans 
{
0% {opacity:1.0; text-shadow:0 0 20px $contrast-blue;}
50% {opacity:0; text-shadow:none; }
100% {opacity:1.0; text-shadow:0 0 20px $contrast-blue; }   
}

// Color classes

.red {
    color: $red;
}

.green {
    color: $green;
}

// System Security Colors

.sec10 {
    color: #2FEFEF;
}

.sec9 {
    color: #48F0C0;
}

.sec8 {
    color: #00EF47;
}

.sec7 {
    color: #00F000;
}

.sec6 {
    color: #8FEF2F;
}

.sec5 {
    color: #EFEF00;
}

.sec4 {
    color: #D77700;
}

.sec3 {
    color: #F06000;
}

.sec2 {
    color: #F04800;
}

.sec1 {
    color: #D73000;
}

.sec0 {
    color: #F00000;
}