- load custom_filters
- load compress
<!DOCTYPE html>
%html
  %head
    - compress css
      %link{'rel':'stylesheet', 'type':'text/css', 'href':'/static/stylesheets/jquery-ui-1.8.22.custom.css'}
      %link{'rel':'stylesheet', 'type':'text/css', 'href':'/static/stylesheets/ui.dynatree.css'}
      %link{'rel':'stylesheet', 'type':'text/css', 'href':'/static/stylesheets/bootstrap.css'}
      %link{'rel':'stylesheet', 'type':'text/css', 'href':'/static/stylesheets/bootstrap-responsive.css'}
      %link{'rel':'stylesheet', 'type':'text/css', 'href':'/static/stylesheets/main.css'}
      %meta{'name':'viewport', 'content':'width=device-width, initial-scale=1.0'}
    %title
     - block title
      element43 -
  %body
    %header
      .navbar.navbar-top
        .navbar-inner
          .container
            %a.brand{'href':'{% url home %}'}
              %img{'src':'/static/images/logo.png','alt':'element43','width':'100px','height':'20px','style':'float:left;'}
              %span.label.label-important{'style':'float:left;'}
                BETA
            %ul.nav
              %li.dropdown
                %a.dropdown-toggle{'href':'#', 'data-toggle':'dropdown'}
                  Market
                  %b.caret
                %ul.dropdown-menu
                  %li
                    %a{'href':'{% url browser %}'} Browse Market
                  - if request|is_igb
                    %li
                      %a{'href':'{% url scanner_random %}'} Market Scanner - Random
                    - if request|igb_is_trusted
                      %li
                        %a{'href':'{% url scanner_region %}'} Market Scanner - Region
              %li.dropdown
                %a.dropdown-toggle{'href':'#', 'data-toggle':'dropdown'}
                  Trading
                  %b.caret
                %ul.dropdown-menu
                  %li
                    %a{'href':'{% url station_ranking %}'} Top Stations
              %li.dropdown
                %a.dropdown-toggle{'href':'#', 'data-toggle':'dropdown'}
                  Manufacturing
                  %b.caret
                %ul.dropdown-menu
                  %li
                    %a{'href':'{% url manufacturing_select_blueprint %}'} Calculator
              %li.dropdown
                %a.dropdown-toggle{'href':'#', 'data-toggle':'dropdown'}
                  Help
                  %b.caret
                %ul.dropdown-menu
                  %li
                    %a{'href':'{% url about_page %}'} About Element43
            %ul.nav.pull-right
              - if not user.is_authenticated
                %li
                  %a{'href':'{% url login %}?next={{request.path}}'}
                    Login
                %li
                  %a{'href':'{% url registration %}'}
                    Register
              - else
                %li.dropdown
                  %a.dropdown-toggle{'href':'#', 'data-toggle':'dropdown'}
                    %b {{user.username}}
                    %b.caret
                  %ul.dropdown-menu
                    %li
                      %a{'href':'{% url dashboard %}'}
                        %i.icon-white.icon-home
                        Dashboard
                    %li.dropdown-submenu
                      %a{'tabindex':'-1', 'href':'#'}
                        %i.icon-white.icon-book
                        Trading
                      %ul.dropdown-menu
                        %li
                          %a{'href':'{% url wallet_orders_active %}'}
                            %i.icon-white.icon-asterisk
                            Active Orders
                        %li
                          %a{'href':'{% url wallet_orders_archived %}'}
                            %i.icon-white.icon-calendar
                            Archived Orders
                        - if characters_journal
                          %li.dropdown-submenu
                            %a{'tabindex':'-1', 'href':'#'}
                              %i.icon-white.icon-book
                              Journals
                            %ul.dropdown-menu
                              - for char in characters_journal
                                %li
                                  %a{'href':'{% url wallet_journal char_id=char.id %}'}
                                    {{char.name}}
                        - if characters_transaction
                          %li.dropdown-submenu
                            %a{'tabindex':'-1', 'href':'#'}
                              %i.icon-white.icon-share
                              Transactions
                            %ul.dropdown-menu
                              - for char in characters_transaction
                                %li
                                  %a{'href':'{% url wallet_transactions char_id=char.id %}'}
                                    {{char.name}}
                    %li.divider
                    %li
                      %a{'href':'{% url settings %}'}
                        %i.icon-white.icon-wrench
                        Settings
                    %li
                      %a{'href':'{% url logout %}'}
                        %i.icon-white.icon-off
                        Logout
              %form.navbar-search{'id':'search','method':'post','action':'{% url search %}'}
                - csrf_token
                %input#main-search.search-query{'type':'text', 'placeholder':'Search anything...', 'name':'query'}
    .container
        - include '_base_messages.haml'
        - block top
    .container
      .panel-wrapper.clearfix
        .content
          - block content
    .container{'style':'padding-top: 2em;'}
      .row-fluid
        .span12
          %footer
            .clock
              #date
              %ul
                %li#hours
                %li#point :
                %li#min
                %li#point :
                %li#sec
    %script{'type':'text/javascript', 'src':'http://ajax.googleapis.com/ajax/libs/jquery/1.8.2/jquery.min.js'}
    %script{'type':'text/javascript', 'src':'http://ajax.googleapis.com/ajax/libs/jqueryui/1.8.23/jquery-ui.min.js'}
    - compress js
      %script{'type':'text/javascript', 'src':'/static/javascripts/highstock.js'}
      %script{'type':'text/javascript', 'src':'/static/javascripts/bootstrap.js'}
      %script{'type':'text/javascript', 'src':'/static/javascripts/jquery.autocomplete.js'}
      %script{'type':'text/javascript', 'src':'/static/javascripts/main.js'}
    - block scripts
