<!DOCTYPE html>
%html
  %head
    %link{'rel':'stylesheet', 'type':'text/css', 'href':'/static/stylesheets/bootstrap.css'}
    %link{'rel':'stylesheet', 'type':'text/css', 'href':'/static/stylesheets/darkstrap.css'}
    %link{'rel':'stylesheet', 'type':'text/css', 'href':'/static/stylesheets/main.css'}
    %meta{'name':'viewport', 'content':'width=device-width, initial-scale=1.0'}
    %title
     - block title
      element43
  %body
    %header
      .navbar
        .navbar-inner
          .container
            %a.brand{'href':'/'} element43
            %ul.nav
              %li
                %a{'href':'/'} Home
              %li{'class':'dropdown'}
                %a{'href':'#', 'class':'dropdown-toggle', 'data-toggle':'dropdown'} 
                  Market
                  %b{'class':'caret'}
                %ul{'class':'dropdown-menu'}
                  %li
                    %a{'href':'#'} Item Details
                  %li
                    %a{'href':'#'} Item Quick Look
                  %li
                    %a{'href':'/market/scanner'} Market Scanner
              %li
                %a{'href':'#'} Trading
              %li
                %a{'href':'#'} Industry
              %li
                %a{'href':'#'} Production
              %li{'class':'dropdown'}
                %a{'href':'#', 'class':'dropdown-toggle', 'data-toggle':'dropdown'} 
                  Reports
                  %b{'class':'caret'}
                %ul{'class':'dropdown-menu'}
                  %li
                    %a{'href':'#'} User Reports
            %form.navbar-search.pull-right{'id':'search','method':'post','action':'/search'}
              - csrf_token
              %input#main-search.search-query{'type':'text', 'placeholder':'Search...', 'data-provide':'typeahead', 'data-source':'', 'name':'query'}
    .container
      .panel-wrapper
        .content.clearfix
          - block content
          %hr
          %footer
            .row
              .span2
                %p
                  element43 - 2012
              .clock
                #date
                %ul
                  %li#hours
                  %li#point :
                  %li#min
                  %li#point :
                  %li#sec
    %script{'type':'text/javascript', 'src':'http://code.jquery.com/jquery-1.7.2.min.js'}
    %script{'type':'text/javascript', 'src':'/static/javascripts/bootstrap.js'}
    %script{'type':'text/javascript', 'src':'/static/javascripts/main.js'}
