- load custom_filters
- load compress
<!DOCTYPE html>
%html
  %head
    - compress css
      %link{'rel':'stylesheet', 'type':'text/css', 'href':'/static/stylesheets/jquery-ui-1.8.22.custom.css'}
      %link{'rel':'stylesheet', 'type':'text/css', 'href':'/static/stylesheets/bootstrap.css'}
      %link{'rel':'stylesheet', 'type':'text/css', 'href':'/static/stylesheets/darkstrap.css'}
      %link{'rel':'stylesheet', 'type':'text/css', 'href':'/static/stylesheets/main.css'}
    %meta{'name':'viewport', 'content':'width=device-width, initial-scale=1.0'}
    %title
     - block title
      element43
  %body
    %header
      .navbar.navbar-top
        .navbar-inner
          .container
            %a.brand{'href':'/'}
              %img{'src':'/static/images/logo.png','alt':'element43'}
            %ul.nav
              %li.dropdown
                %a.dropdown-toggle{'href':'#', 'data-toggle':'dropdown'} 
                  Market
                  %b.caret
                %ul.dropdown-menu
                  %li
                    %a{'href':'/market/browse/'} Browse Market
                  - if request|is_igb
                    %li
                      %a{'href':'/market/scanner/random/'} Market Scanner - Random
                    - if request|igb_is_trusted
                      %li
                        %a{'href':'/market/scanner/region/'} Market Scanner - Region
              %li.dropdown
                %a.dropdown-toggle{'href':'#', 'data-toggle':'dropdown'} 
                  Trading
                  %b.caret
                %ul.dropdown-menu
                  %li
                    %a{'href':'/trading/station/ranking/'} Top Stations
              %li
                %a{'href':'/manufacturing/calculator/'} Manufacturing
            %ul.nav.pull-right
              - if not user.is_authenticated
                %li
                  %a{'href':'/login/?next={{request.path}}'}
                    Login
                %li
                  %a{'href':'/register/'}
                    Register
              - else
                %li.dropdown
                  %a.dropdown-toggle{'href':'#', 'data-toggle':'dropdown'}
                    %b {{user.username}}
                    %b.caret
                  %ul.dropdown-menu
                    %li
                      %a{'href':'/'}
                        %i.icon-home
                        Dashboard
                    %li
                      %a{'href':'/settings/'}
                        %i.icon-wrench
                        Settings
                    %li
                      %a{'href':'/logout/'}
                        %i.icon-off
                        Logout
              %form.navbar-search{'id':'search','method':'post','action':'/search/'}
                - csrf_token
                %input#main-search.search-query{'type':'text', 'placeholder':'Search...', 'name':'query'}
    .container
      .panel-wrapper
        .content.clearfix
          - include '_base_messages.haml'
          - block content
    %hr
    .container
      .row-fluid
        .span12
          %footer
            .clock
              #date
              %ul
                %li#hours
                %li#point :
                %li#min
                %li#point :
                %li#sec
    %script{'type':'text/javascript', 'src':'http://code.jquery.com/jquery-1.7.2.min.js'}
    %script{'type':'text/javascript', 'src':'http://code.jquery.com/ui/1.8.22/jquery-ui.min.js'}
    - compress js
      %script{'type':'text/javascript', 'src':'/static/javascripts/highstock.js'}
      %script{'type':'text/javascript', 'src':'/static/javascripts/bootstrap.js'}
      %script{'type':'text/javascript', 'src':'/static/javascripts/jquery.autocomplete.js'}
      %script{'type':'text/javascript', 'src':'/static/javascripts/main.js'}
    - block scripts
