- load custom_filters
<!DOCTYPE html>
%html
  %head
    %link{'rel':'stylesheet', 'type':'text/css', 'href':'/static/stylesheets/jquery-ui-1.8.22.custom.css'}
    %link{'rel':'stylesheet', 'type':'text/css', 'href':'/static/stylesheets/bootstrap.css'}
    %link{'rel':'stylesheet', 'type':'text/css', 'href':'/static/stylesheets/darkstrap.css'}
    %link{'rel':'stylesheet', 'type':'text/css', 'href':'/static/stylesheets/main.css'}
    %meta{'name':'viewport', 'content':'width=device-width, initial-scale=1.0'}
    %title
     - block title
      element43
  %body
    %header
      .navbar
        .navbar-inner
          .container
            %a.brand{'href':'/'} element43
            %ul.nav
              %li.dropdown
                %a.dropdown-toggle{'href':'#', 'data-toggle':'dropdown'} 
                  Market
                  %b.caret
                %ul.dropdown-menu
                  %li
                    %a{'href':'/market/browse/'} Browse Market
                  - if request|is_igb
                    %li
                      %a{'href':'/market/scanner/random/'} Market Scanner - Random
                    - if request|igb_is_trusted
                      %li
                        %a{'href':'/market/scanner/region/'} Market Scanner - Region
              %li.dropdown
                %a.dropdown-toggle{'href':'#', 'data-toggle':'dropdown'} 
                  Trading
                  %b.caret
                %ul.dropdown-menu
                  %li
                    %a{'href':'/trading/station/ranking/'} Top Stations
              - if not user.is_authenticated
                %li
                  %a{'href':'/register/'}
                    Register
            %form.navbar-search.pull-right{'id':'search','method':'post','action':'/search/'}
              - csrf_token
              %input#main-search.search-query{'type':'text', 'placeholder':'Search...', 'data-provide':'typeahead', 'data-source':'', 'name':'query'}
    .container
      .panel-wrapper
        .content.clearfix
          - if request|is_igb and not request|igb_is_trusted
            .alert.alert-info
              %strong
                Hey!
              %p
                It appears that you are accessing this page from the IGB, but have not granted trust to element43, yet. Some functions will not work properly if element43 is untrusted. Please reload the page manually after granting trust.
              %a#btn-trust.btn.btn-success{'href':'#', 'onclick':'CCPEVE.requestTrust($(location).attr("href"))'}
                 %i.icon-check
                 Grant Trust
          - block content
          %hr
          %footer
            .row
              .span2
                %p
                  element43 - 2012
              .clock
                #date
                %ul
                  %li#hours
                  %li#point :
                  %li#min
                  %li#point :
                  %li#sec
    %script{'type':'text/javascript', 'src':'http://code.jquery.com/jquery-1.7.2.min.js'}
    %script{'type':'text/javascript', 'src':'http://code.jquery.com/ui/1.8.22/jquery-ui.min.js'}
    %script{'type':'text/javascript', 'src':'/static/javascripts/highstock.js'}
    %script{'type':'text/javascript', 'src':'/static/javascripts/bootstrap.js'}
    %script{'type':'text/javascript', 'src':'/static/javascripts/main.js'}
    - block scripts
