<!DOCTYPE html>
%html
  %head
    %link{'rel':'stylesheet', 'type':'text/css', 'href':'/static/stylesheets/bootstrap.css'}
    %link{'rel':'stylesheet', 'type':'text/css', 'href':'/static/stylesheets/darkstrap.css'}
    %link{'rel':'stylesheet', 'type':'text/css', 'href':'/static/stylesheets/main.css'}
    %title
     - block title
      element43
  %body
    .container
      %header
        .navbar
          .navbar-inner
            .container
              %a.brand{'href':'#'} element43
              %ul.nav
                %li
                 %a{'href':'#'} Home
                %li
                 %a{'href':'#'} Market Data
                %li
                 %a{'href':'#'} element43
                %li
                 %a{'href':'#'} Settings
                %li
                 %a{'href':'#'} Stuff
              %form.navbar-search.pull-right
                %input.search-query{'type':'text', 'placeholder':'Search...'}
      - block content
          