- extends "base.haml"
- block title
   element43 - {{parent_name}}
- block content
  - include '_group_breadcrumbs.haml'
  %h1
    {{parent_name}}
  %table.table.table-striped
    %tbody
      - for type in types
        %tr
          %td{'width':'32px'}
            %a{'href':'/market/{{type.id}}/'}
              %img{'src':format('http://image.eveonline.com/type/{{type.id}}_32.png'), 'alt':'type image'}
          %td
            %a{'href':'/market/{{type.id}}/'}
              = type.name
          %td
              = type.description|truncatechars:128