- extends "base.haml"
- load humanize
- block title
  element43 - Home
- block content
  - if not request.user.is_authenticated
    .hero-unit
      %h1{'style':'text-transform: none;'} More bang for the buck!
      %p Welcome to element43, a tool providing you with all the information you need to get the most out of your hard-earned ISK. Best of all: it's completely free!
      %p
        %a.btn.btn-warning.btn-large{'href':'{% url registration %}'}
          Get started now »
  .row-fluid
    .span4
      %h2 Market Data
      %p
        Trading sounds simple. Buy low, sell high. But where to find the best deals?
    .span4
      %h2 Industry Manager
      %p
        Never lose track of your blueprints and your industrial activities.
    .span4
      %h2 Wallet Manager
      %p
        Analyze your trades one item at a time. Stay aware of your current situation.
  %hr
  #stats
    .row-fluid
      .span12
       %h3 Mineral Index and PLEX - The Forge
       %table.table.table-striped.table-condensed
         %thead
           %tr
             %th
             %th{'colspan':'2', 'text-align':'center'}
               Bid
             %th{'colspan':'2', 'text-align':'center'}
               Ask
             %th
         %tbody
           %tr
             %th
             %th
               Highest Price
             %th
               Weighted Avg
             %th
               Lowest Price
             %th
               Weighted Avg
             %th
               Mean
           - for item in typestats
             %tr
               %td
               %td
                 0.00
               %td
                 %span.green
                   0.00 (+0.00)
               %td
                 0.00
               %td
                 %span.green
                   0.00 (+0.00)
               %td
                 %span.green
                   0.00 (+0.00)
    .row-fluid
      .span6
        %h3 EMDR Stats (per minute)
        %table.table.table-striped.table-condensed
          %tbody
            %tr
              %td
                New Orders
              %td
                0
            %tr  
              %td
                Updated Orders
              %td
                0
            %tr
              %td
                Old Orders
              %td  
                0
            %tr
              %td
                History messages
              %td
                0
      .span6
        %h3 Platform Stats
        %table.table.table-striped.table-condensed
          %tbody
            %tr
              %td
                Active Orders
              %td
                0
            %tr
              %td
                Archived Orders
              %td
                0
            %tr
              %td
                History Records
              %td
                0
- block scripts
  %script{'type':'text/javascript', 'src':'/static/javascripts/home.js'}