{% extends "base-test.html" %}
{% block title %}
  element43 - Home
{% endblock %}
{% block content %}
  <div class='hero-unit well'>
    <h1>More bang for the buck!</h1>
    <p>Welcome to element43, a tool providing you with all the information you need to get the most out of your hard-earned ISK. Best of all: it's completely free!</p>
    <p>
      <a class='btn btn-primary btn-large' href='#'>
        Get started now »
      </a>
    </p>
  </div>
  <div class='row'>
    <div class='span4'>
      <h2>Market Data</h2>
      <p>
        Trading sounds simple. Buy low, sell high. But where to find the best deals?
      </p>
    </div>
    <div class='span4'>
      <h2>Industry Manager</h2>
      <p>
        Never loose track of your blueprints and your industrial activities.
      </p>
    </div>
    <div class='span3'>
      <h2>Wallet Manager</h2>
      <p>
        Analyze your trades one item at a time. Stay aware of your current situation.
      </p>
    </div>
  </div>
{% endblock %}
