- extends "base.haml"
- load humanize
- block title
  = block.super
  Home
- block top
  - if not request.user.is_authenticated
    .hero-unit
      %h1 More bang for the buck!
      %p Welcome to element43, an open-source all-in-one tool providing you with all the information you need to get the most out of your hard-earned ISK. Best of all: it's completely free!
      %p
        %a.btn.btn-primary.btn-large{'href':'{% url registration %}'}
          Get started now »
- block content
  .row-fluid
    .span4
      %h2 Market Data
      %p
        Trading sounds simple. Buy low, sell high. But where to find the best deals?
    .span4
      %h2 Industry Manager
      %p
        Never lose track of your blueprints and your industrial activities.
    .span4
      %h2 Wallet Manager
      %p
        Analyze your trades one item at a time. Stay aware of your current situation.
  %hr
  #stats
    .row-fluid
      .span12
       %h3 Mineral Index and PLEX - Jita / The Forge
       %table.table.table-striped.table-condensed{'style':'table-layout: fixed;'}
         %thead
           %tr
             %th.span2
             %th.span5{'colspan':'3', 'text-align':'center'}
               Bid
             %th.span5{'colspan':'3', 'text-align':'center'}
               Ask
           %tr
             %th
             %th
               %a{'href':'#', 'rel':'tooltip', 'title':'Highest bid price in Jita.'}
                 Highest Price
             %th
               %a{'href':'#', 'rel':'tooltip', 'title':'Median of all bids in The Forge.'}
                 Median
             %th
               %a{'href':'#', 'rel':'tooltip', 'title':'Change from yesterday&#039;s median of bids in The Forge.'}
                 Move
             %th
               %a{'href':'#', 'rel':'tooltip', 'title':'Lowest ask price in Jita.'}
                 Lowest Price
             %th
               %a{'href':'#', 'rel':'tooltip', 'title':'Median of all asks in The Forge.'}
                 Median
             %th
               %a{'href':'#', 'rel':'tooltip', 'title':'Change from yesterday&#039;s median of asks in The Forge.'}
                 Move
         %tbody
           - for item in types
             %tr
               %td
                 %a{'href':'{% url quicklook type_id=item.id %}'}
                   - if item.name == "30 Day Pilot's License Extension (PLEX)"
                     PLEX
                   - else
                     {{item.name}}
               %td{'id':'bid_max_{{item.id}}'}
                 0.00
               %td
                 %span{'id':'bid_median_{{item.id}}'}
                   0.00
               %td
                 %span{'id':'bid_median_move_{{item.id}}'}
                   +0.00
               %td{'id':'ask_min_{{item.id}}'}
                 0.00
               %td
                 %span{'id':'ask_median_{{item.id}}'}
                   0.00
               %td
                 %span{'id':'ask_median_move_{{item.id}}'}
                   +0.00
    .row-fluid
      .span6
        %h3 EMDR Stats (per minute)
        %table.table.table-striped.table-condensed
          %tbody
            %tr
              %td.span3
                New Orders
              %td#new_orders.span3
                0
            %tr
              %td.span3
                Updated Orders
              %td#updated_orders.span3
                0
            %tr
              %td.span3
                Old Orders
              %td#old_orders.span3
                0
            %tr
              %td.span3
                History messages
              %td#history_messages.span3
                0
      .span6
        %h3 Platform Stats
        %table.table.table-striped.table-condensed
          %tbody
            %tr
              %td.span3
                Active Orders
              %td#active_orders.span3
                0
            %tr
              %td.span3
                Archived Orders
              %td#archived_orders.span3
                0
            %tr
              %td.span3
                History Records
              %td#history_records.span3
                0
- block scripts
  %script{'type':'text/javascript', 'src':'/static/javascripts/jquery.pulse.js'}
  %script{'type':'text/javascript'}
    var region = {{region}};
    var types = {{type_ids}};
  %script{'type':'text/javascript', 'src':'/static/javascripts/home.js'}