- extends "base.html"
- block title
  element43 - Home
- block content
  %h1 Welcome to element43!
  .span3
    %h2 What?
    %p
      Here be dragons!
  .span3
    %h2 Who?
    %p
      Alls of us!
  .span3
    %h2 Why?
    %p
      Profit!