- extends "base.haml"
- block title
  element43 - Market - ITEM
- block content
  %h1 Tritanium
  .row
    .span2
      %img{'src':'http://image.eveonline.com/type/34_64.png', 'alt':'type image'}
    .span6
      %p
        Volume: 1.0 m3
      %p
        The main building block in space structures. A very hard, yet bendable metal. Cannot be used in human habitats due to its instability at atmospheric temperatures. Very common throughout the EVE universe.
  %ul#tabs.nav.nav-tabs
    %li.active
      %a{'href':'#regions', 'data_toggle':'tab'} Regions
    %li
      %a{'href':'#orders', 'data_toggle':'tab'} Orders
  .tab-content
    #regions.tab-pane.fade.active.in
      %h2 Regions
      %h3 Trade Hubs
      %table.table.table-striped.table-condensed
        %thead
          %tr
            %th
              Region
            %th
            %th
              Low
            %th
              High
            %th
              Avg
            %th
              Median
            %th
              Standard Deviation
            %th
              Lots
            %th
              Volume
        %tbody
          %tr
            %td
              Jita
            %td
              Ask
            %td
              6.58
            %td
              21,000,000,000.00
            %td
              268,203,831.47
            %td
              7.00
            %td
              2,354,987,244.41
            %td
              157
            %td
              26,758,508,569
          %tr
            %td
            %td
              Bid
              %td
                6.58
              %td
                21,000,000,000.00
              %td
                268,203,831.47
              %td
                7.00
              %td
                2,354,987,244.41
              %td
                157
              %td
                26,758,508,569
            %tr
              %td
                Jita
              %td
                Ask
              %td
                6.58
              %td
                21,000,000,000.00
              %td
                268,203,831.47
              %td
                7.00
              %td
                2,354,987,244.41
              %td
                157
              %td
                26,758,508,569
            %tr
              %td
              %td
                Bid
                %td
                  6.58
                %td
                  21,000,000,000.00
                %td
                  268,203,831.47
                %td
                  7.00
                %td
                  2,354,987,244.41
                %td
                  157
                %td
                  26,758,508,569
              %tr
                %td
                  Jita
                %td
                  Ask
                %td
                  6.58
                %td
                  21,000,000,000.00
                %td
                  268,203,831.47
                %td
                  7.00
                %td
                  2,354,987,244.41
                %td
                  157
                %td
                  26,758,508,569
              %tr
                %td
                %td
                  Bid
                  %td
                    6.58
                  %td
                    21,000,000,000.00
                  %td
                    268,203,831.47
                  %td
                    7.00
                  %td
                    2,354,987,244.41
                  %td
                    157
                  %td
                    26,758,508,569
    #orders.tab-pane.fade
      %h2
        Orders
      %h3
        Sell
      %h3
        Buy
        
  