- extends "base.haml"
- block title
  element43 - Search
- block content
  %h1
    Search
  - ifequal types|length 0
    .alert.alert-info
      %i.icon-white.icon-warning-sign
      We could not find anything with that name or your request was too generic.
  - else
    %table.table.table-striped.table-condensed
      %tbody
        - for type in types
          %tr
            %td{'width':'32px'}
              %a{'href':'{% url quicklook type_id=type.id %}'}
                %img{'src':format('{{ IMAGE_SERVER }}/type/{{ type.id }}_32.png'), 'alt':'type image'}
            %td
              %a{'href':'{% url quicklook type_id=type.id %}'}
                = type.name
            %td
                = type.description|truncatechars:128
            
            
      