- load humanize
#stats
  .row-fluid
    .span12
     %h3 Mineral Index and PLEX - The Forge
     %table.table.table-striped.table-condensed
       %thead
         %tr
           %th
           %th{'colspan':'2', 'text-align':'center'}
             Bid Data
           %th{'colspan':'2', 'text-align':'center'}
             Ask Data
           %th
       %tbody
         %tr
           %th
           %th
             Highest Price
           %th
             Weighted Avg
           %th
             Lowest Price
           %th
             Weighted Avg
           %th
             Mean
         - for item in typestats
           %tr
             %td
               %a{'href':'{% url quicklook typeid=item.type.id %}/'} 
                 {{item.type.name}}
             %td
               {{item.stats.buy|floatformat:2|intcomma}}
             %td
               - if item.stats.avg_buy_move < 0
                 %span.red
                   {{item.stats.avg_buy|floatformat:2|intcomma}} ({{item.stats.avg_buy_move|floatformat:2|intcomma}})
               - else
                 %span.green
                   {{item.stats.avg_buy|floatformat:2|intcomma}} (+{{item.stats.avg_buy_move|floatformat:2|intcomma}})
             %td
               {{item.stats.sell|floatformat:2|intcomma}}
             %td
               - if item.stats.avg_sell_move < 0
                 %span.red
                   {{item.stats.avg_sell|floatformat:2|intcomma}} ({{item.stats.avg_sell_move|floatformat:2|intcomma}})
               - else
                 %span.green
                   {{item.stats.avg_sell|floatformat:2|intcomma}} (+{{item.stats.avg_sell_move|floatformat:2|intcomma}})
             %td
               - if item.stats.mean_move < 0
                 %span.red
                   {{item.stats.mean|floatformat:2|intcomma}} ({{item.stats.mean_move|floatformat:2|intcomma}})
               - else
                 %span.green
                   {{item.stats.mean|floatformat:2|intcomma}} (+{{item.stats.mean_move|floatformat:2|intcomma}})
  .row-fluid
    .span6
      %h3 EMDR Stats (per minute)
      %table.table.table-striped.table-condensed
        %tbody
          %tr
            %td
              New Orders
            %td
              {{new_orders_per_minute|intcomma}}
          %tr  
            %td
              Updated Orders
            %td
              {{old_orders_per_minute|intcomma}}
          %tr
            %td
              Old Orders
            %td  
              {{updated_orders_per_minute|intcomma}}
          %tr
            %td
              History messages
            %td
              {{history_messages_per_minute|intcomma}}
    .span6
      %h3 Platform Stats
      %table.table.table-striped.table-condensed
        %tbody
          %tr
            %td
              Active Orders
            %td
              {{active_orders|intcomma}}
          %tr
            %td
              Archived Orders
            %td
              {{archived_orders|intcomma}}
          %tr
            %td
              History Records
            %td
              {{history|intcomma}}