- extends "base.haml"
- load humanize
- load custom_filters
- block title
  = block.super
  {{request.user.username}} - Active Orders
- block content
  %h1 Active Orders
  .row
    .col-md-12
      - regroup orders by id.stastation as order_list
      - for order_list_item in order_list
        %h2 {{order_list_item.grouper}}
        - if request|is_igb
          %a{'href':'#', 'onclick':'$("#station-scanner").modal({"remote":"{% url \'wallet_station_scanner\' station_id=order_list_item.grouper.id %}"});'}
            .btn.btn-primary
              %i.glyphicon.glyphicon-search
              Open Scanner
        .row
          %h3 Bid
          %table.table
            %thead
              %tr
                %th
                %th Character
                %th Type
                %th{'colspan':2} Progress
                %th.text-right Price
                %th.text-right Total Value
                %th Last Seen
            %tbody
             - for order in order_list_item.list
              - if order.id.is_bid
                %tr
                  %td
                    %img{'src':'{{IMAGE_SERVER}}/Type/{{order.id.invtype.id}}_32.png'}
                  %td
                    {{order.character.name}}
                  %td
                    %a{'href':'{% url \'wallet_type\' type_id=order.id.invtype.id %}'}
                      {{order.id.invtype.name}}
                  %td
                    {{order.id.volume_remaining|intcomma}} / {{order.id.volume_entered|intcomma}}
                  %td.col-md-3
                    .progress
                      .bar{'style':'width:{{order.volume_percent}}%;'}
                  %td.text-right
                    {{order.id.price|intcomma}}
                  %td.text-right.red
                    \- {{order.total_value|intcomma}}
                  %td
                    {{order.id.generated_at|naturaltime}}
          %h3 Ask
          %table.table
            %thead
              %tr
                %th
                %th Character
                %th Type
                %th{'colspan':2} Progress
                %th.text-right Price
                %th.text-right Total Value
                %th Last Seen
            %tbody
             - for order in order_list_item.list
              - if not order.id.is_bid
                %tr
                  %td
                    %img{'src':'{{IMAGE_SERVER}}/Type/{{order.id.invtype.id}}_32.png'}
                  %td
                    {{order.character.name}}
                  %td
                    %a{'href':'{% url \'wallet_type\' type_id=order.id.invtype.id %}'}
                      {{order.id.invtype.name}}
                  %td
                    {{order.id.volume_remaining|intcomma}} / {{order.id.volume_entered|intcomma}}
                  %td.col-md-3
                    .progress
                      - if order.volume_percent < 10
                        .bar.bar-danger{'style':'width:{{order.volume_percent}}%;'}
                      - elif order.volume_percent < 50
                        .bar.bar-warning{'style':'width:{{order.volume_percent}}%;'}
                      - else
                        .bar.bar-success{'style':'width:{{order.volume_percent}}%;'}
                  %td.text-right
                    {{order.id.price|intcomma}}
                  %td.text-right.green
                    {{order.total_value|intcomma}}
                  %td
                    {{order.id.generated_at|naturaltime}}
  - if request|is_igb
    #station-scanner.modal.hide.fade{'tabindex':'-1', 'role':'dialog', 'aria-labelledby':'scanner-label', 'aria-hidden':'true'}
      .modal-header
        %button.close{'type':'button', 'data-dismiss':'modal', 'aria-hidden':'true'} ×
        %h3#sheet-label Station Scanner
      .modal-body
      .modal-footer
        %button.btn{'data-dismiss':'modal', 'aria-hidden':'true'} Close
- block scripts
  %script{'type':'text/javascript'}
    $('body').on('hidden', '.modal', function () {
        $(this).removeData('modal');
    });
