- extends "base.haml"
- load humanize
- block title
  = block.super
  About Element43
- block content
  %h2 About Element43
  %p
    Element43 is an all-in-one site to track the markets, your industry jobs, trading, you name it.  Our goal with Element43 is to provide you, the capsuleer, with everything you need to successfully manage your EVE-wide enterprises. Contributing to the project is easy - read the boxes below for some examples on how to get involved.
  %hr
  .row
    .col-md-6
      %h3 Users
      %p Everybody can contribute to Element43. There is a wide variety of tasks to choose from. We are always looking for your feedback and feature suggestions, talented writers for our blog and donations to cover our costs.
      %hr
      %h5
        Feedback
      %p
        You found a bug or have suggestions for a new or existing feature? Great! Drop us an e-mail or answer to our topic on the EVE Online forums.
        %ul
          %li
            %a{'href':'https://forums.eveonline.com/default.aspx?g=posts&m=3282412'} EVE Forums
          %li
            %a{'href':'mailto:info@element-43.com'} info@element43.com
      %h5
        Writers
      %p
        Our goal is to supply our users with quality articels about EVE's current (economic) state. If you are an advanced trader, diplomat, industrialist or blogger and would like to publish your articles on Element-43.com, don't hesitate to contact us.
    .col-md-6
      %h3 Developers
      %p
        Element43 is built on a multitude of technologies. We are an open source project available on GitHub. No matter what background you are coming from, be it Python, .NET or PHP, getting started with development is straightforward.
      %hr
      %h5
        Useful Links
      %ul
        %li
          %a{'href':'https://element43.readthedocs.org/en/latest/gettingstarted.html'} Getting Started Guide
        %li
          %a{'href':'https://github.com/EVE-Tools/vagrant-element43'} Dev Environment
        %li
          %a{'href':'https://element43.readthedocs.org/en/latest/'} Documentation
        %li
          %a{'href':'https://groups.google.com/forum/#!forum/element43'} Google Group
        %li
          %a{'href':'https://github.com/EVE-Tools'} Source Code Repositories
      %h5
        Contact Us
      %p
        Contact the Element43 team at
        %a{'href':'mailto:info@element-43.com'} info@element-43.com
        with comments, questions or bugs. You can also reach us on irc.coldfront.net on channel
          %a{'href':'irc://irc.coldfront.net:6667/element43'} #element43
  %hr
  %h2
    Donations
  .row
    .col-md-8
      %p Element43 is a neutral, ad-free, open source service that is offered free of charge to all players of EVE online. Please help us to keep it like that. Recurring donations allow us to plan ahead when making investions like renting a new server. For additional payment methods, please contact
        %a{'href':'mailto:zweizeichen@element-43.com'} Sebastian / zweizeichen
        .
    .col-md-4
      %a{'href':'//www.gittip.com/zweizeichen/'}
        %img{'src':'//img.shields.io/gittip/zweizeichen.svg?style=flat'}
  %hr
  %h2 Element43 Team
  .row
    .col-md-4
      %h5 Project Leads:
      %p
        %a{'href':'mailto:greg@element-43.com'} Greg Oberfield
      %p
        %a{'href':'mailto:zweizeichen@element-43.com'} Sebastian / zweizeichen
    .col-md-4
      %h5 Developers:
      %p
        %a{'href':'mailto:greg@element-43.com'} Greg Oberfield
      %p
        %a{'href':'mailto:zweizeichen@element-43.com'} Sebastian / zweizeichen
      %p
        %a{'href':'mailto:jens@element-43.com'} Jens Lauterbach
    .col-md-4
      %h5 System Admin:
      %p
        %a{'href':'mailto:zweizeichen@element-43.com'} Sebastian / zweizeichen
      %h5 Former Sponsor and Admin:
      %p
        %a{'href':'mailto:snipa@element-43.com'} Snipa
      %h5 Consulting Industrialist:
      %p
        %a{'href':'http://k162space.com'} Blake
      %h5 Additional Code/Support/Help
      %p
        %a{'href':'http://eve-emdr.com'} Greg Taylor
  %hr
  #copyright
    %h2 Copyright Notice
    %p
      EVE Online and the EVE logo are the registered trademarks of CCP hf. All rights are reserved worldwide.
      All other trademarks are the property of their respective owners. EVE Online, the EVE logo, EVE and all
      associated logos and designs are the intellectual property of CCP hf. All artwork, screenshots, characters,
      vehicles, storylines, world facts or other recognizable features of the intellectual property relating to
      these trademarks are likewise the intellectual property of CCP hf. CCP hf. has granted permission to element43
      to use EVE Online and all associated logos and designs for promotional and information purposes on its website
      but does not endorse, and is not in any way affiliated with, element43. CCP is in no way
      responsible for the content on or functioning of this website, nor can it be liable for any damage arising
      from the use of this website.