- load custom_filters compress
!!! 5
%html
  %head
    %link{'rel':'shortcut icon', 'href':'{{ STATIC_URL }}images/favicon.ico'}
    %meta{'name':'viewport', 'content':'width=device-width, initial-scale=1.0'}
    - compress css
      %link{'rel':'stylesheet', 'type':'text/css', 'href':'{{ STATIC_URL }}stylesheets/jquery-ui-1.8.22.custom.css'}
      %link{'rel':'stylesheet', 'type':'text/css', 'href':'{{ STATIC_URL }}stylesheets/ui.dynatree.css'}
      %link{'rel':'stylesheet', 'type':'text/css', 'href':'{{ STATIC_URL }}stylesheets/bootstrap.css'}
      %link{'rel':'stylesheet', 'type':'text/x-scss', 'href':'{{ STATIC_URL }}stylesheets/main.scss'}
      %link{'rel':'stylesheet', 'type':'text/x-scss', 'href':'{{ STATIC_URL }}stylesheets/prettify.css'}
      %meta{'name':'viewport', 'content':'width=device-width, initial-scale=1.0'}
    %title
     - block title
      element43 -
  %body
    %header
      .navbar.navbar-default.navbar-static-top
        .container
          .navbar-header
            %a.navbar-brand{'href':'{% url \'home\' %}'}
              %img{'src':'{{ STATIC_URL }}images/logo.png','alt':'element43','width':'100px','height':'20px','style':'float:left;'}
              %span.label.label-danger{'style':'float:left;'}
                BETA
            %button.navbar-toggle.collapsed{'type':'button', 'data-toggle':'collapse', 'data-target':'.nav-header-collapse'}
              .icon-bar
              .icon-bar
              .icon-bar
          .collapse.navbar-collapse.nav-header-collapse
            %ul.nav.navbar-nav.navbar-left
              %li.dropdown
                %a.dropdown-toggle{'href':'#', 'data-toggle':'dropdown'}
                  Market
                  %b.caret
                %ul.dropdown-menu
                  %li
                    %a{'href':'{% url \'browser\' %}'} Browse Market
                  - if request|is_igb
                    %li
                      %a{'href':'{% url \'scanner_random\' %}'} Market Scanner - Random
                    - if request|igb_is_trusted
                      %li
                        %a{'href':'{% url \'scanner_region\' %}'} Market Scanner - Region
              %li.dropdown
                %a.dropdown-toggle{'href':'#', 'data-toggle':'dropdown'}
                  Trading
                  %b.caret
                %ul.dropdown-menu
                  %li
                    %a{'href':'{% url \'station_ranking\' %}'} Top Stations
                  %li
                    %a{'href':'{% url \'tradefinder\' %}'} Tradefinder
              %li.dropdown
                %a.dropdown-toggle{'href':'#', 'data-toggle':'dropdown'}
                  Manufacturing
                  %b.caret
                %ul.dropdown-menu
                  %li
                    %a{'href':'{% url \'manufacturing_select_blueprint\' %}'} Calculator
              %li.dropdown
                %a.dropdown-toggle{'href':'#', 'data-toggle':'dropdown'}
                  Help
                  %b.caret
                %ul.dropdown-menu
                  %li
                    %a{'href':'{% url \'about_page\' %}'} About Element43
                  %li
                    %a{'href':'{% url \'api_docs\' %}'} Legacy API Documentation
              %li
                %a{'href':'/api/'} API
            %ul.nav.navbar-nav.navbar-right
              - if not user.is_authenticated
                %li
                  %a{'href':'{% url \'login\' %}?next={{request.path}}'}
                    Login
                %li
                  %a{'href':'{% url \'registration\' %}'}
                    Register
              - else
                %li.dropdown
                  %a.dropdown-toggle{'href':'#', 'data-toggle':'dropdown'}
                    %b {{user.username}}
                    %b.caret
                  %ul.dropdown-menu
                    %li
                      %a{'href':'{% url \'dashboard\' %}'}
                        %i.glyphicon.glyphicon-home
                        Dashboard
                    %li
                      %li
                        %a{'href':'{% url \'wallet_orders_active\' %}'}
                          %i.glyphicon.glyphicon-asterisk
                          Active Orders
                      %li
                        %a{'href':'{% url \'wallet_orders_archived\' %}'}
                          %i.glyphicon.glyphicon-calendar
                          Archived Orders
                      - if characters_journal
                        %li.divider
                        %li.dropdown-header
                          %i.glyphicon.glyphicon-book
                          Journals
                        - for char in characters_journal
                          %li
                            %a{'href':'{% url \'wallet_journal\' char_id=char.id %}'}
                              {{char.name}}
                      - if characters_transaction
                        %li.divider
                        %li.dropdown-header
                          %i.glyphicon.glyphicon-share
                          Transactions
                        - for char in characters_transaction
                          %li
                            %a{'href':'{% url \'wallet_transactions\' char_id=char.id %}'}
                              {{char.name}}
                    %li.divider
                    %li
                      %a{'href':'{% url \'settings\' %}'}
                        %i.glyphicon.glyphicon-wrench
                        Settings
                    %li
                      %a{'href':'{% url \'logout\' %}'}
                        %i.glyphicon.glyphicon-off
                        Logout
              %form.navbar-form.navbar-right{'id':'search','method':'post','action':'{% url \'search\' %}'}
                - csrf_token
                %input#main-search.form-control{'type':'text', 'placeholder':'Search anything...', 'name':'query'}
    .container
        - include '_base_messages.haml'
        - block top
    .container
      .panel-wrapper.clearfix
        .content
          - block content
    .container{'style':'padding-top: 2em;'}
      .row
        .col-md-12
          %footer
            .clock
              #date
              %ul
                %li#hours
                %li#point :
                %li#min
                %li#point :
                %li#sec
            .container{'style':'font-size: small;'}
              %a{'href':'/about#copyright'} Copyright 2013 element43
              , EVE Online, the EVE logo, EVE and all associated logos and designs are the intellectual property of
              %a{'href':'http://www.ccpgames.com'} CCP hf
              and used with permission
    %script{'type':'text/javascript', 'src':'//ajax.googleapis.com/ajax/libs/jquery/1.8.2/jquery.min.js'}
    %script{'type':'text/javascript', 'src':'//ajax.googleapis.com/ajax/libs/jqueryui/1.8.23/jquery-ui.min.js'}
    - compress js
      %script{'type':'text/javascript', 'src':'{{ STATIC_URL }}javascripts/highstock.js'}
      %script{'type':'text/javascript', 'src':'{{ STATIC_URL }}javascripts/bootstrap.js'}
      %script{'type':'text/javascript', 'src':'{{ STATIC_URL }}javascripts/jquery.autocomplete.js'}
      %script{'type':'text/javascript', 'src':'{{ STATIC_URL }}javascripts/typeahead.js'}
      %script{'type':'text/javascript', 'src':'{{ STATIC_URL }}javascripts/main.js'}
    - block scripts
    - if GOOGLE_ANALYTICS_ENABLED
      - if not request.DNT
        %script{'type':'text/javascript'}
          var _gaq = _gaq || [];
          _gaq.push(['_setAccount', '{{GOOGLE_ANALYTICS_TRACKING_ID}}']);
          _gaq.push(['_setDomainName', '{{GOOGLE_ANALYTICS_DOMAIN_NAME}}']);
          _gaq.push(['_trackPageview']);

          (function() {
            var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
            ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
            var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
          })();
