- extends "base.haml"
- load humanize compress custom_filters
- block title
  = block.super
  Know the Market
- block top
 #mainCarousel.carousel.slide
  %ol.carousel-indicators
    %li.active{'data-target':'#mainCarousel', 'data-slide-to':'0'}
    %li{'data-target':'#mainCarousel', 'data-slide-to':'1'}
    %li{'data-target':'#mainCarousel', 'data-slide-to':'2'}
  .carousel-inner
    .item.active
      .container
        .jumbotron
          %h1 More bang for the buck!
          %p
            Welcome to element43, an open source all-in-one tool providing you with all the information
            you need to get the most out of your hard-earned ISK. Best of all: it's completely free!
          %p
            %a.btn.btn-warning.btn-lg{'href':'{% url \'registration\' %}'}
              Get started now »
    .item
      .container
        .jumbotron
          %h1 Visit our brand new news section!
          %p
            Latest quality EVE market discussion and Element43 development news
          %p
            %a.btn.btn-warning.btn-lg{'href':'http://news.element-43.com'}
              Discuss the latest news »
    .item
      .container
        .jumbotron
          %h1 Want to give back?
          %p
            We're always looking for talented web developers, traders, industrialists, diplomats and feedback!
            Donations for covering our hosting costs are also greatly appreciated. Don't hesitate to contact us.
          %p
            %a.btn.btn-warning.btn-lg{'href':'{% url \'about_page\' %}'}
              Get in touch »
  %a.left.carousel-control{'href':'#mainCarousel', 'data-slide':'prev'}
    %span.icon-prev
  %a.right.carousel-control{'href':'#mainCarousel', 'data-slide':'next'}
    %span.icon-next
- block content
  .row
    .col-md-4
      %h2 Market Data
      %p
        Trading sounds simple. Buy low, sell high. But where to find the best deals?
        Element43 provides you with all the data you need to get the most out of your hard earned ISK!
      %a.btn.btn-primary{'href':'{% url \'browser\' %}'}
        Start Exploring »
    .col-md-4
      %h2 Management Tools
      %p
        Managing your ingame assets has never been easier. Simply sign up, start tracking your wallets,
        industry projects, character skill trainings and receive notifications for important events.
      %a.btn.btn-primary{'href':'{% url \'registration\' %}'}
        Sign Up »
    .col-md-4
      %h2 Contribute
      %p
        Element43 is an open source project involving a wide range of tasks. You are welcome to participate - be
        it by providing feedback, writing articles, contributing code or donating.
      %a.btn.btn-primary{'href':'{% url \'about_page\' %}'}
        Get Involved »
  .ticker_footer
    .info
      .logo
        The Forge Live
    #ticker
      %ul
        - for item in types
         - with itemid=item.id|slugify
          - with statobject=stats.typestats|key:itemid
              %li
                %img.icon16{'src':'{{ IMAGE_SERVER }}/Type/{{ item.id }}_32.png'}
                %a{'href':'{% url \'quicklook\' type_id=item.id %}'}
                  - if item.name == "30 Day Pilot's License Extension (PLEX)"
                    PLEX
                  - else
                    {{item.name}}
                %span.value{'id':'bid_median_{{item.id}}', 'data-isk':'{{statobject.bid_median|floatformat:"2"}}'}
                  {{statobject.bid_median|floatformat:"2"|intcomma}}
                - if statobject.bid_median_move == 0
                  %span.value{'id':'bid_median_move_{{item.id}}', 'data-isk':'{{statobject.bid_median_move|floatformat:"2"}}'}
                - elif statobject.bid_median_move > 0
                  %span.green.value{'id':'bid_median_move_{{item.id}}', 'data-isk':'{{statobject.bid_median_move|floatformat:"2"}}'}
                    +{{statobject.bid_median_move|floatformat:"2"|intcomma}}
                - elif statobject.bid_median_move < 0
                  %span.red.value{'id':'bid_median_move_{{item.id}}', 'data-isk':'{{statobject.bid_median_move|floatformat:"2"}}'}
                    \-{{statobject.bid_median_move|floatformat:"2"|intcomma}}
                - else
                  %span.value{'id':'bid_median_move_{{item.id}}', 'data-isk':'{{statobject.bid_median_move|floatformat:"2"}}'}
                %span.spacer /
                %span.value{'id':'ask_median_{{item.id}}', 'data-isk':'{{statobject.ask_median|floatformat:"2"}}'}
                  {{statobject.ask_median|floatformat:"2"|intcomma}}
                - if statobject.bid_median_move == 0
                  %span.value{'id':'ask_median_move_{{item.id}}', 'data-isk':'{{statobject.ask_median_move|floatformat:"2"}}'}
                - elif statobject.ask_median_move > 0
                  %span.green.value{'id':'ask_median_move_{{item.id}}', 'data-isk':'{{statobject.ask_median_move|floatformat:"2"}}'}
                    +{{statobject.ask_median_move|floatformat:"2"|intcomma}}
                - elif statobject.ask_median_move < 0
                  %span.red.value{'id':'ask_median_move_{{item.id}}', 'data-isk':'{{statobject.ask_median_move|floatformat:"2"}}'}
                    \-{{statobject.ask_median_move|floatformat:"2"|intcomma}}
                - else
                  %span.value{'id':'ask_median_move_{{item.id}}', 'data-isk':'{{statobject.ask_median_move|floatformat:"2"}}'}
- block scripts
  - compress js
    %script{'type':'text/javascript', 'src':'{{ STATIC_URL }}javascripts/jquery.pulse.js'}
    %script{'type':'text/javascript', 'src':'{{ STATIC_URL }}javascripts/jquery.ticker.js'}
    %script{'type':'text/javascript', 'src':'{{ STATIC_URL }}javascripts/home.js'}
  %script{'type':'text/javascript'}
    var region = {{region}};
    var types = {{type_ids}};
