- extends "base.haml"
- load humanize
- load custom_filters
- block title
  = block.super
  Dashboard
- block content
  .row-fluid
    .span8
      #history
      %table.table.table-condensed
        %thead
          %tr
            %th
            %th
              Gross Profit
            %th
              Brokers Fee
            %th
              Taxes
        %tbody
          %tr
            %td
              Month
            %td.green
              {{month.gross_profit|intcomma}}
            %td.red
              {{month.brokers_fee|intcomma}}
            %td.red
              {{month.taxes|intcomma}}
          %tr
            %td
              Week
            %td.green
              {{week.gross_profit|intcomma}}
            %td.red
              {{week.brokers_fee|intcomma}}
            %td.red
              {{week.taxes|intcomma}}
          %tr
            %td
              Day
            %td.green
              {{day.gross_profit|intcomma}}
            %td.red
              {{day.brokers_fee|intcomma}}
            %td.red
              {{day.taxes|intcomma}}
    .span4
      %table.table.table-condensed
        - for point in sheet_data
          %tr
            %td{'width':'64px'}
              %img{'src':'http://image.eveonline.com/Character/{{point.char.id}}_64.jpg', 'alt':'{{point.char.name}}'}
            %td
              .row-fluid
                .span12
                  %a{'href':'#', 'onclick':'$("#char-sheet").modal({"remote":"/dashboard/char_sheet/{{point.char.id}}/"});'}
                    {{point.char.name}}
                  .balance
                    {{point.char.balance|intcomma}}
              .row-fluid
                .span12
                  Next Update: {{point.next_update|naturaltime}}
      %h5 Last 10 Sales
      %table.table.table-condensed
        - for sale in last_ten_sales
          %tr
            %td
              %img{'src':'{{IMAGE_SERVER}}/Type/{{sale.invtype_id}}_16.png', 'alt':'icon'}
            %td
              {{sale.quantity|intcomma}}
            %td
              %a{'href':'{% url wallet_type type_id=sale.invtype_id %}'}
                {{sale.invtype.name}}
            %td.text-right
              {{sale.price|intcomma}}
            %td.text-right.green
              {{sale.value|intcomma}}
  #char-sheet.modal.hide.fade{'tabindex':'-1', 'role':'dialog', 'aria-labelledby':'sheet-label', 'aria-hidden':'true'}
    .modal-header
      %button.close{'type':'button', 'data-dismiss':'modal', 'aria-hidden':'true'} ×
      %h3#sheet-label Character Sheet
    .modal-body
    .modal-footer
      %button.btn{'data-dismiss':'modal', 'aria-hidden':'true'} Close
- block scripts
  %script{'type':'text/javascript', 'src':'/static/javascripts/dashboard.js'}