- extends "base.haml"
- load humanize
- load custom_filters
- block title
  = block.super
  {{request.user.username}} - Journal
- block content
  %h1 Journal of {{char.name}}
  %ul.pager
    - if journal.has_previous
      %li.previous
        %a{'href':'?page={{journal.previous_page_number}}'}
          &larr; Newer
    - else
      %li.previous.disabled
        %a{'href':'#'}
          &larr; Newer
    - if journal.has_next
        %li.next
          %a{'href':'?page={{journal.next_page_number}}'}
            Older &rarr;
    - else
        %li.next.disabled
          %a{'href':'#'}
            Older &rarr;
  %table.table.table-striped.table-condensed
    %thead
      %tr
        %th
          Type
        %th
          From
        %th
          To
        %th.text-right
          Amount
        %th.text-right
          Tax
        %th.text-right
          Balance
    %tbody
      - for entry in journal
        %tr
          %td
            {{entry.ref_type.name}}
          %td
            {{entry.owner_name_1}}
          %td
            {{entry.owner_name_2}}
          - if entry.amount < 0
            %td.red.text-right
              {{entry.amount|intcomma}}
          - else
            %td.green.text-right
              {{entry.amount|intcomma}}
          %td.text-right
            {{entry.tax_amount|intcomma}}
          %td.text-right
            {{entry.balance|intcomma}}
