- extends "base.haml"
- block title
  element43 - Home
- block content
  .hero-unit.well
    %h1 Market Scanner
    %p Welcome to element43, a tool providing you with all the information you need to get the most out of your hard-earned ISK. Best of all: it's completely free!
    %p
      %a.btn.btn-primary.btn-large{'href':'#'}
        Get started now »
  .row
    .span4
      %h2 Market Data
      %p
        Trading sounds simple. Buy low, sell high. But where to find the best deals?
    .span4
      %h2 Industry Manager
      %p
        Never loose track of your blueprints and your industrial activities.
    .span3
      %h2 Wallet Manager
      %p
        Analyze your trades one item at a time. Stay aware of your current situation.
