- extends "base.haml"
- load custom_filters
- block content  
    %form#select_blueprint_form.form-horizontal.well{'action': '{% url manufacturing_select_blueprint %}', 'method':'post'}
      - csrf_token
      %fieldset
        %legend
          Select Blueprint
        %div{'class':'control-group{{ form.blueprint|css_error }}'}
          %label.control-label{'for':'blueprint'} Blueprint
          .controls
            = form.blueprint
            - if form.blueprint.errors
              %span.help-inline
                - for error in form.blueprint.errors
                  = error|escape
          %span
            = form.blueprint.help_text
      %hr
      .control-group
        .controls
          %button.btn.btn-success{'type':'submit'}
            Next

- block scripts
  %script{'type':'text/javascript', 'src':'/static/javascripts/manufacturing.js'}