%ul.breadcrumb
  %li
    %a{'href':'{% url \'browser\' %}'}
      Market
  - for group in breadcrumbs
    %li
      %a{'href':'{% url \'browser_preload\' group=group.id %}'}
        = group.name
  %li.active
    {{type.name}}
