- load humanize
%h2
  Import from {{system.name}}
.row-fluid
  .span12
    %table.table.table-striped.table-condensed
      %thead
        %tr
          %th
          %th.text-right
            %a{'href':'#', 'rel':'tooltip', 'title':'Lowest ask price in {{system.name}}'}
              {{system.name}} Ask
          %th.text-right
            %a{'href':'#', 'rel':'tooltip', 'title':'Highest bid price in target station.'}
              Local Bid
          %th.text-right
            %a{'href':'#', 'rel':'tooltip', 'title':'Markup % between {{system.name}} and target station'}
              Markup
          %th.text-right
            %a{'href':'#', 'rel':'tooltip', 'title':'Volume traded based on history in target station.'}
              Weekly Volume
          %th.text-right
            %a{'href':'#', 'rel':'tooltip', 'title':'Potential weekly profit based on markup and volume.'}
              Potential Profit
      %tbody
        - for item in markup
           %tr
             %td
               %img{'src':'{{ IMAGE_SERVER }}/Type/{{item.0}}_16.png'}
               %a{'href':'{% url quicklook type_id=item.0 %}'}
                 {{item.1}}
             %td.text-right
               {{item.2|floatformat:2|intcomma}}
             %td.text-right
               {{item.3|floatformat:2|intcomma}}
             %td.text-right
               {{item.4|floatformat:2|intcomma}} %
             %td.text-right
               {{item.5|intcomma}}
             %td.text-right
               {{item.6|floatformat:2|intcomma}} 