- extends "base.haml"
- load cache
- load humanize
- block title
  element43 - Market - Stations by Number of Active Orders
- block content
  %h1
    Top Stations by Active Orders
	%table.table.table-striped.table-condensed
	  %thead
	    %tr
        %th
	      %th
	        Station
	      %th.text-right
	        Active Orders
	  %tbody
	    - for station in rank_list
	      %tr
          %td
            = forloop.counter
	        %td
	          = station.stastation__name
	        %td.text-right
	          = station.ordercount|intcomma
	%p
	  %i
	    Generated at {{generated_at}} UTC
