- extends "base.haml"
- load cache
- load humanize
- block title
  element43 - Market - Stations by Number of Active Orders
- block content
  %h1
    Top Stations by Active Orders
  - cache 86400 topstations
    %table.table.table-striped.table-condensed
      %thead
        %tr
          %th
            Station
          %th
            Number of Active Orders
      %tbody
        - for station in rank_list
          %tr
            %td
              {{station.stastation__name}}
            %td
              {{station.ordercount}}
    
