- extends "base.haml"
- load cache
- load humanize
- block title
  = block.super
  Importing
- block content
  %h1
    {{station.name}}
  .row-fluid
    .span12
      %table.table.table-striped.table-condensed
        %thead
          %tr
            %th
            %th.text-right
              Jita Sell
            %th.text-right
              Local Buy
            %th.text-right
              Markup
            %th.text-right
              Weekly Volume
            %th.text-right
              Potential Profit
        %tbody
          - for item in markup
             %tr
               %td
                 %img{'src':'{{ IMAGE_SERVER }}/Type/{{item.0}}_16.png'}
                 %a{'href':'{% url quicklook type_id=item.0 %}'}
                   {{item.1}}
               %td.text-right
                 {{item.2|floatformat:2|intcomma}}
               %td.text-right
                 {{item.3|floatformat:2|intcomma}}
               %td.text-right
                 {{item.4|floatformat:2|intcomma}} %
               %td.text-right
                 {{item.5|intcomma}}
               %td.text-right
                 {{item.6|floatformat:2|intcomma}} 