- extends "base.haml"
- load cache
- load humanize
- block title
  = block.super
  Importing
- block content
  %h1
    {{station.name}}
  .row-fluid
    .span2
      %img{'src':'{{IMAGE_SERVER}}/Render/{{station.type.id}}_128.png', 'alt':'station render'}
    .span5
      %table.table.table-striped
        %tbody
          %tr
            %td
              Region
            %td
              {{station.region.name}}
          %tr
            %td
              Constellation
            %td
              {{station.constellation.name}}
          %tr
            %td
              Solar System
            %td
              {{station.solar_system.name}}
    .span5
      %table.table.table-striped
        %tbody
          %tr
            %td
              Reprocessing Efficiency
            %td
              {{station.reprocessing_efficiency}}
          %tr
            %td
              Reprocessing Mineral Cost
            %td
              {{station.reprocessing_stations_take}}
          %tr
            %td
              Office Rental Cost
            %td
              {{station.office_rental_cost|intcomma}} ISK