- extends "base.haml"
- load cache
- load humanize
- load custom_filters
- block title
  = block.super
  {{station.name}}
- block content
  %h1
    {{station.name}}
  .row-fluid
    .span2
      %img{'src':'{{IMAGE_SERVER}}/Render/{{station.type.id}}_128.png', 'alt':'station render'}
    .span5
      %table.table.table-striped
        %tbody
          %tr
            %td
              Region
            %td
              {{station.region.name}}
          %tr
            %td
              Constellation
            %td
              {{station.constellation.name}}
          %tr
            %td
              Solar System
            %td
              %span{'class':'sec{{station.solar_system.security_level|sec0to10}}'}
                • {{station.solar_system.security_level|sec0to1}}
              {{station.solar_system.name}}
    .span5
      %table.table.table-striped
        %tbody
          %tr
            %td
              Reprocessing Efficiency
            %td
              {{station.reprocessing_efficiency}}
          %tr
            %td
              Reprocessing Mineral Cost
            %td
              {{station.reprocessing_stations_take}}
          %tr
            %td
              Office Rental Cost
            %td
              {{station.office_rental_cost|intcomma}} ISK
  #import-field.row-fluid{'style':'margin-bottom: 1em; display: none;'}
    .span4
    .span4{'style':'margin-top: 2em; text-align:center;'}
      %input#import-search{'type':'text', 'placeholder':'Region / System...', 'name':'query'}
      %br
      %i Please select a suggestion from the list.
    .span4
  .row-fluid
    .span12
      %ul#tabs.nav.nav-tabs
        %li#spread_link.active
          %a{'href':'#spread', 'data_toggle':'tab'} Bid/Ask Spread
        %li#import_link
          %a{'href':'#import', 'data_toggle':'tab'} Import
      .tab-content
        #spread.tab-pane.fade.active.in
          %table.table.table-striped.table-condensed
            %thead
              %tr
                %th
                %th.text-right
                  %a{'href':'#', 'rel':'tooltip', 'title':'Highest bid price in this station.'}
                    Max Bid
                %th.text-right
                  %a{'href':'#', 'rel':'tooltip', 'title':'Lowest ask price in this station.'}
                    Min Ask
                %th.text-right
                  %a{'href':'#', 'rel':'tooltip', 'title':'Absolute spread.'}
                    Spread
                %th.text-right
                  %a{'href':'#', 'rel':'tooltip', 'title':'Spread as a percentage of max bid.'}
                    Spread Percent
                %th.text-right
                  %a{'href':'#', 'rel':'tooltip', 'title':'Weekly Volume in this <b><i>region</i></b>.'}
                    Weekly Volume
                %th.text-right
                  %a{'href':'#', 'rel':'tooltip', 'title':'Potential daily profit based on daily volume and spread - assumes you control the entire <b><i>region&rsquo;s</i></b> market for this item.'}
                    Potential Daily Profit
            %tbody
              - for item in spread
                 %tr
                   %td
                     %img{'src':'{{ IMAGE_SERVER }}/Type/{{item.0}}_16.png'}
                     %a{'href':'{% url quicklook type_id=item.0 %}'}
                       {{item.1}}
                   %td.text-right
                     {{item.2|floatformat:2|intcomma}}
                   %td.text-right
                     {{item.4|floatformat:2|intcomma}}
                   %td.text-right
                     {{item.6|floatformat:2|intcomma}}
                   %td.text-right
                     {{item.7|floatformat:2|intcomma}} %
                   %td.text-right
                     {{item.8|floatformat:0|intcomma}}
                   %td.text-right
                     {{item.9|floatformat:2|intcomma}}
        #import.tab-pane.fade
          %i Choose a region or system to import from with the text field above.
- block scripts
  %script{'type':'text/javascript'}
    var staStationID = {{station.id}};
  %script{'type':'text/javascript', 'src':'/static/javascripts/station.js'}