!!! XML

%evec_api{'method':'marketstat_xml', 'version':'2.0'}
  %marketstat
    %type{'id':'{{params.typeid.0}}'}
      %buy
        %volume
          {{stats.buyvolume}}
        %average
          {{stats.buyavg}}
        %max
          {{buystats.price__max}}
        %min
          {{buystats.price__min}}
        %median
          {{stats.buymedian}}
        %percentile
          {{stats.buy_95_percentile}}
        %deviation
          {{buystats.price__stddev}}
      %sell
        %volume
          {{stats.sellvolume}}
        %average
          {{stats.sellavg}}
        %max
          {{sellstats.price__max}}
        %min
          {{sellstats.price__min}}
        %median
          {{stats.sellmedian}}
        %percentile
          {{stats.sell_95_percentile}}
        %deviation
          {{sellstats.price__stddev}}