!!! XML

%e43_api{'method':'marketstat_xml', 'version':'2.0'}
  %marketstat
    - for item in result_info
      %type{'id':'{{item.invtype}}'}
        %buy
          %volume
            {{item.stats.buyvolume}}
          %avg
            {{item.stats.buyavg}}
          %max
            {{item.buystats.price__max}}
          %min
            {{item.buystats.price__min}}
          %stddev
            {{item.stats.buy_std_dev}}
          %median
            {{item.stats.buymedian}}
          %percentile
            {{item.stats.buy_95_percentile}}
        %sell
          %volume
            {{item.stats.sellvolume}}
          %avg
            {{item.stats.sellavg}}
          %max
            {{item.sellstats.price__max}}
          %min
            {{item.sellstats.price__min}}
          %stddev
            {{item.stats.sell_std_dev}}
          %median
            {{item.stats.sellmedian}}
          %percentile
            {{item.stats.sell_95_percentile}}
        %lastupdate
          {{item.stats.lastupdate|date:"F j, Y"}}
        %traded_last_7
          {{item.qty}}