- extends "base.haml"
- block title
   element43 - Browse Market
- block content
  %h1
    Browse Market
  %table.table.table-striped
    %tbody
      - for group in groups
        %tr
          %td
            %a{'href':'/market/browse/{{group.id}}/'}
              = group.name
          %td
            = group.description
